html
    font-size: $font-size-base

body
    overflow-x: hidden !important
    &.is-fixed
        @media only screen and (max-width: 991px)
            overflow: hidden

strong
    font-weight: bold

.pl
    &-15
        padding-left: rem(15)
        @media only screen and (max-width: 991px)
            padding-left: 0

.pt
    &-100
        padding-top: rem(100)
        @media only screen and (max-width: 991px)
            padding-top: 0

    &-210
        padding-top: rem(210)
        @media only screen and (max-width: 1540px)
            padding-top: rem(150)
        @media only screen and (max-width: 991px)
            padding-top: rem(100)
        @media only screen and (max-width: 575px)
            padding-top: rem(75)

.mb
    &-38
        margin-bottom: rem(38)

    &-85
        margin-bottom: rem(85)

.top-185
    top: rem(185)
    @media only screen and (max-width: 1540px)
        top: rem(130)
    @media only screen and (max-width: 1024px)
        top: rem(65)
    @media only screen and (max-width: 991px)
        top: rem(195)
    @media only screen and (max-width: 575px)
        top: rem(120)

.pb-50
    @media only screen and (max-width: 1540px)
        padding-bottom: rem(50) !important
    @media only screen and (max-width: 1366px)
        padding-bottom: 0
