<div class="row">
    <div class="col-md-12">
        {% include 'admin/block/input.html.twig' with{ 'field': 'field0', 'label': 'Nadpis 1'|trans } %}
    </div>
    <div class="col-md-12">
        {{ form_row(fields.field4, { 'label': 'Text 1'|trans }) }}
    </div>
    <div class="col-md-12">
        {{ form_row(fields.field1, { 'label': 'Obrázek 1'|trans }) }}
    </div>
    <div class="col-md-12">
        {% include 'admin/block/input.html.twig' with{ 'field': 'field2', 'label': 'Nadpis 2'|trans } %}
    </div>
    <div class="col-md-12">
        {{ form_row(fields.field5, { 'label': 'Text 2'|trans }) }}
    </div>
    <div class="col-md-12">
        {{ form_row(fields.field3, { 'label': 'Obrázek 2'|trans }) }}
    </div>
</div>