<div class="material-group text" id="">
    <div class="form-group text">
        <div class="input-group-container text">
            <div class="input-group">
                <input type="text" id="{{ fields.vars.id }}_{{ field }}"
                       name="{{ fields.vars.full_name }}[{{ field }}]"
                       class="form-control" value="{{ fields.children[field].vars.value }}">
                <span class="form-bar"></span>
                <label class="float-label"
                       for="{{ fields.vars.id }}_{{ field }}">{{ label }}</label>
            </div>
        </div>
    </div>
</div>
