<div class="col-md-12">
    {% include 'admin/block/input.html.twig' with{ 'field': 'field0', 'label': 'Nadpis'|trans } %}
</div>
<div class="col-md-12">
    {% include 'admin/block/input.html.twig' with{ 'field': 'field1', 'label': 'Nadpis tabulky'|trans } %}
</div>
<div class="col-md-12">
    {{ form_row(fields.field2, { 'label': 'Tabulka'|trans }) }}
</div>