<div class="row">
    <div class="col-md-12">
        {% include 'admin/block/input.html.twig' with{ 'field': 'field0', 'label': 'Nadpis'|trans } %}
    </div>
    <div class="col-md-12">
        {{ form_row(fields.field1, { 'label': 'Obrázek 1'|trans }) }}
    </div>
    <div class="col-md-12">
        {{ form_row(fields.field2, { 'label': 'Obrázek 2'|trans }) }}
    </div>
    <div class="col-md-12">
        {{ form_row(fields.field3, { 'label': 'Obrázek 3'|trans }) }}
    </div>
    <div class="col-md-12">
        {{ form_row(fields.field4, { 'label': 'Obrázek 4'|trans }) }}
    </div>
</div>