<div class="row">
    <div class="col-md-12">
        {% include 'admin/block/input.html.twig' with{ 'field': 'field0', 'label': 'Nadpis'|trans } %}
    </div>
    <div class="col-md-12">
        {% include 'admin/block/input.html.twig' with{ 'field': 'field1', 'label': 'Podnadpis'|trans } %}
    </div>
    <div class="col-md-12">
        {{ form_row(fields.field2, { 'label': 'Text'|trans }) }}
    </div>
    <div class="col-md-12">
        {% include 'admin/block/input.html.twig' with{ 'field': 'field3', 'label': 'Youtube video ID'|trans } %}
    </div>
</div>