.about

  &__content
    padding-top: rem(124)
    max-width: rem(701)
    width: 100%
    padding-left: rem(100)
    @media only screen and (max-width: 1440px)
      padding-left: rem(50)
    @media only screen and (max-width: 1200px)
      padding-left: 0
    @media only screen and (max-width: 1024px)
      padding-top: rem(50)

  &__image
    display: flex
    height: 100%
    align-items: flex-end


  &__text
    margin-bottom: rem(40)
    p
      color: $black-200
      font-size: rem(18)
      line-height: rem(30)
      text-align: left

  &__form
    margin-bottom: rem(90)
    @media only screen and (max-width: 1024px)
      margin-bottom: rem(50)