.article
    padding-top: rem(97)
    position: relative
    overflow: hidden
    height: rem(900)
    @media only screen and (max-width: 1024px)
        padding-top: rem(50)
    &:before
        position: absolute
        content: ""
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-image: $article-bg

    .slick-slide.slick-active
        .article__item
            &:hover
                .article__name
                    text-decoration: underline
                .article__image
                    span
                        transform: scale(1.2)


    &__header
        max-width: rem(440)
        margin: 0 auto

    &__item
        position: relative
        display: block

    &__image
        width: 100%
        height: rem(227)
        display: block
        box-shadow: $article-img-shadow
        position: relative
        z-index: 1
        overflow: hidden

        span
            width: 100%
            height: 100%
            background-repeat: no-repeat
            background-size: cover
            background-position: center center
            display: block
            transition: all 0.4s


    &__content
        height: rem(120)
        background-color: $white
        padding: rem(10)
        position: relative

    &__name
        font-size: rem(18)
        font-weight: 700
        line-height: rem(24)
        color: #000937
        text-transform: uppercase
        font-family: $font-family-second
        text-align: left
        padding-left: rem(39)
        padding-right: rem(39)
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        display: flex
        align-items: center
        transition: all 0.2s

    &__text
        position: relative
        height: rem(187)

        p
            text-align: center
            color: $white
            font-size: rem(18)
            line-height: rem(26)