.burger
    display: none
    @media only screen and (max-width: 991px)
        display: block

    &__nav
        margin: 0 1rem
        display: block
        height: 3rem
        width: 3rem
        background-color: transparent
        border: 2px solid $blue
        //border-radius: 50%
        position: relative
        float: right
        top: rem(53)
        cursor: pointer
        transition: $nav-transition
        z-index: 15
        @media only screen and ( max-width: 991px )
            position: absolute
            top: rem(6)
            right: 0
        @media only screen and (min-width: 768px) and (max-width: 991px)
            margin-right: rem(50)
        & span,
        & span:after,
        & span:before
            position: absolute
            top: 50%
            margin: -1px 0 0 -10px
            left: 50%
            width: rem(20)
            height: rem(2)
            background: $blue

        & span:after,
        & span:before
            content: ''
            display: block
            transition: 0.3s
        & span:after
            transform: translateY(-5px)
        & span:before
            transform: translateY(5px)
        &.is-active
            & span
                height: 0px
            & span:before
                transform: rotate(-45deg)
            & span:after
                transform: rotate(45deg)