.button
    color: $white
    text-transform: uppercase
    font-size: rem(14)
    letter-spacing: 1px
    text-align: center
    font-family: $font-family-second
    display: inline-block
    border: 1px solid $white
    transition: all 0.2s
    cursor: pointer

    &:hover
        background-color: $white
        color: $black

    &--big
        padding: rem(15) rem(31)

    &--gold
        background-color: $gold
        border-color: $gold
        &:hover
            background-color: $gold-hover
            border-color: $gold-hover
            color: $white

    &--reservation
        @media only screen and (max-width: 575px)
            max-width: rem(220)
            width: 100%
            display: block
            padding: rem(15) 0

    &--table
        background-color: $button-table
        margin-right: 0
        margin-left: auto
        @media only scree and (max-width: 1366px)
            padding: rem(4) 0
        @media only screen and (max-width: 1024px)
            padding: rem(2) 0

        &:hover
            background-color: $blue
            color: $white


    &--info
        position: absolute
        right: 0
        height: 100%
        padding: 0
        max-width: rem(150)
        width: 100%
        @media only screen and (max-width: 450px)
            max-width: rem(100)

    &--bigger
        @media only screen and (max-width: 575px)
            font-size: rem(12)
        @media only screen and (max-width: 450px)
            max-width: 100%
            width: 100%
            padding-left: 0
            padding-right: 0

    &--popup
        max-width: rem(230)
        width: 100%
        padding: rem(18) 0
        font-size: rem(16)

    &--contact
        padding: 14px 37px

    &--parcel
        position: relative
        z-index: 1
        padding: rem(7) rem(25)
        float: right
        white-space: nowrap
