.contact
    width: 100%
    height: 100%
    background-repeat: no-repeat
    background-size: cover
    background-position: center center
    display: block
    position: relative
    padding-top: rem(55)
    padding-bottom: rem(63)

    &__title
        color: $white
        text-transform: uppercase
        font-family: $font-family-second
        font-weight: 700
        font-size: rem(34)
        margin-bottom: rem(84)
        @media only screen and (max-width: 768px)
            margin-bottom: rem(50)
        @media only screen and (max-width: 575px)
            font-size: rem(25)

    &__adress
        margin-bottom: rem(43)
        @media only screen and (max-width: 768px)
            text-align: center
        p
            color: $white
            font-family: $font-family-second
            font-size: rem(18)
            font-weight: bold
            margin-bottom: rem(22)
            &:last-child
                margin-bottom: 0

    &__info,
    &__social
        ul
            padding: 0
            margin: 0
            list-style-type: none

    &__info
        margin-bottom: rem(41)

        li
            @media only screen and (max-width: 768px)
                text-align: center
            a
                color: $white
                font-size: rem(18)
                display: inline-block

    &__phone
        font-weight: bold
        margin-bottom: rem(16)
        display: block

    &__mail
        text-decoration: underline
        &:hover
            text-decoration: none

    &__social
        @media only screen and (max-width: 768px)
            margin-bottom: rem(50)
        ul
            display: flex
            @media only screen and (max-width: 768px)
                justify-content: center

            li
                padding: 0 rem(5)
                &:first-child
                    padding-left: 0
                &:last-child
                    padding-right: 0

    &__checkbox
        label
            color: $white
            a
                text-decoration: underline
                &:hover
                    text-decoration: none

    &__info,
    &__social,
    &__adress
        @media only screen and (max-width: 1540px)
            padding-left: rem(50)
        @media only screen and (max-width: 1367px)
            padding-left: 0