.copyright
    border-top: 1px solid #F0F1F6
    padding-bottom: rem(26)
    padding-top: rem(20)

    [class^="col-"]
        @media only screen and (max-width: 575px)
            &:first-child
                .copyright__text
                    margin-bottom: rem(10)

    &__text
        color: $black-200
        font-size: rem(14)
        line-height: rem(15)