.eu-cookies
    position: fixed
    bottom: 0
    left: 0
    z-index: 1000
    width: 100%
    padding: 5px 10px
    font-size: 13px
    color: $gray-600
    text-align: center
    background-color: $white
    border-top: 1px solid $gray-200

    a
        color: $black
        text-decoration: underline

    button
        padding: 5px 10px
        margin: 0 10px
        color: $white
        cursor: pointer
        background-color: $black
        border: 0
