.filter

    &__item
        position: relative

        label
            line-height: rem(18)
            font-size: rem(14)
            color: $black-200
            cursor: pointer

        input[type="checkbox"]
            position: absolute
            top: 0
            left: 0
            opacity: 0

            & + label
                padding-left: 28px
                &:before,
                &:after
                    position: absolute
                    content: ""
                    top: 0
                    left: 0
                    width: rem(18)
                    height: rem(18)
                    border: 1px solid $checkbox-color

                &:before
                    background-color: $white

                &:after
                    opacity: 0
                    background-color: $checkbox-color
                    background-image: url("../img/icon/check.svg")
                    background-position: center center
                    background-repeat: no-repeat
                    background-size: 15px auto

            &:checked + label
                &:before
                    opacity: 0
                &:after
                    opacity: 1

    &__content
        display: flex
        flex-wrap: wrap

    &__left,
    &__right
        line-height: rem(18)
        width: percentage(1/2)
        flex: 0 0 percentage(1/2)
        @media only screen and (max-width: 760px)
            width: percentage(1/1)
            flex: 0 0 percentage(1/1)

    &__left
        @media only screen and (max-width: 760px)
            order: 2

    &__right
        @media only screen and (max-width: 760px)
            order: 1
            margin-bottom: rem(40)

    &__legend
        ul
            list-style-type: none
            padding: 0
            margin: 0
            text-align: right
            @media only screen and (max-width: 760px)
                text-align: left
            @media only screen and (max-width: 375px)
                text-align: center

            li
                display: inline-block
                position: relative
                line-height: rem(18)
                font-size: rem(14)
                padding: 0 rem(18) 0 rem(26)
                @media only screen and (max-width: 350px)
                    font-size: rem(12)
                    padding: 0 rem(14) 0 rem(22)
                &:last-child
                    padding-right: 0
                &:before
                    position: absolute
                    content: ""
                    top: 1px
                    left: 0
                    width: rem(16)
                    height: rem(16)
                    border-radius: 100%
                    @media only screen and (max-width: 350px)
                        width: rem(14)
                        height: rem(14)

                &.filter__free
                    &:before
                        background-color: $color-free

                &.filter__reservation
                    &:before
                        background-color: $color-reservation

                &.filter__sold
                    &:before
                        background-color: $color-sold


    &__title
        margin-bottom: 0
        font-size: rem(14)
        line-height: rem(18)
        color: $black-200
        font-weight: 700
        margin-right: rem(15)
        @media only screen and (max-width: 575px)
            margin-right: 0
            margin-bottom: rem(10)