.form

    &--contact
        max-width: rem(449)
        width: 100%
        @media only screen and (max-width: 768px)
            margin: 0 auto

        .form__checkbox
            label
                margin-bottom: 0
                font-size: rem(14)

            input[type="checkbox"]

                & + label
                    padding-left: 32px
                    &:before,
                    &:after
                        top: rem(3)
                        width: rem(18)
                        height: rem(18)

                    &:after
                        background-size: 15px auto


        .form__item
            margin-bottom: rem(10)
            position: relative
            width: 100%

            input,
            textarea
                width: 100%
                border: none
                padding-left: rem(20)

            textarea
                padding-top: rem(10)
                min-height: rem(92)

    &--popup
        max-width: rem(920)
        width: 100%

        +row-col(5)

        .form__item
            color: $white

            &--list
                line-height: rem(28)
                [class^="col-"]
                    @media only screen and (max-width: 500px)
                        max-width: percentage(1/1)
                        flex: 0 0 percentage(1/1)

            input
                width: 100%
                height: rem(55)
                margin-bottom: rem(10)
                border: none
                padding-left: rem(20)
                font-size: rem(16)
                color: $black-200

            textarea
                width: 100%
                min-height: rem(134)
                border: none
                padding-left: rem(20)
                padding-top: rem(10)
                font-size: rem(16)
                color: $black-200

    &__item
        position: relative

        input
            height: rem(54)
            &:focus,
            &.has-content
                padding-top: 10px
                & + label
                    top: -2px
                    opacity: 0.6
                    font-size: rem(14)

        label
            position: absolute
            top: 15px
            left: 20px
            font-size: rem(16)
            color: #252525
            opacity: 0.8
            transition: all 0.2s

        textarea
            &:focus,
            &.has-content
                padding-top: 20px
                & + label
                    top: -2px
                    opacity: 0.6
                    font-size: rem(14)

    &__checkbox
        margin-bottom: rem(20)
        margin-top: rem(10)
        position: relative
        cursor: pointer
        label
            color: $white
            a
                color: $white
                text-decoration: underline
                &:hover
                    text-decoration: none

        input[type="checkbox"]
            position: absolute
            top: 0
            left: 0
            opacity: 0

            & + label
                padding-left: 40px
                &:before,
                &:after
                    position: absolute
                    content: ""
                    top: 0
                    left: 0
                    width: rem(24)
                    height: rem(24)

                &:before
                    background-color: $white

                &:after
                    opacity: 0
                    background-color: $gold
                    background-image: url("../img/icon/check.svg")
                    background-position: center center
                    background-repeat: no-repeat
                    background-size: rem(20) auto

            &:checked + label
                &:before
                    opacity: 0
                &:after
                    opacity: 1

    &__title
        color: $white
        font-size: rem(18)
        font-family: $font-family-second
        font-weight: bold
        text-transform: uppercase
        margin-bottom: rem(26)
        @media only screen and (max-width: 768px)
            text-align: center

    &__button
        @media only screen and (max-width: 768px)
            text-align: center



