.gallery

    &--big
        height: 100%

        &--small
            .gallery__item
                margin-bottom: rem(20)
                height: rem(437)
                @media only screen and (max-width: 1540px)
                    height: rem(290)
                @media only screen and (max-width: 1024px)
                    height: rem(215)
                @media only screen and (max-width: 575px)
                    margin-bottom: rem(10)
                    height: rem(145)
                @media only screen and (max-width: 350px)
                    height: rem(120)

                &:last-child
                    margin-bottom: 0

        .gallery__item
            height: rem(894)
            display: block
            @media only screen and (max-width: 1540px)
                height: rem(600)
            @media only screen and (max-width: 1024px)
                height: rem(450)
            @media only screen and (max-width: 575px)
                height: rem(300)
            @media only screen and (max-width: 350px)
                height: rem(250)



    &--small
        +row-col(10)
        @media only screen and (max-width: 575px)
            +row-col(5)

        .gallery__item
            height: rem(200)
            @media only screen and (max-width: 1540px)
                height: rem(175)
            @media only screen and (max-width: 1024px)
                height: rem(150)
            @media only screen and (max-width: 575px)
                height: rem(110)
            @media only screen and (max-width: 350px)
                margin-bottom: rem(10)
                height: rem(150)

            &:hover
                &:before
                    opacity: 0

            img
                height: rem(200)
                @media only screen and (max-width: 1540px)
                    height: rem(175)
                @media only screen and (max-width: 1024px)
                    height: rem(150)

        [class^="col-"]
            @media only screen and (max-width: 350px)
                max-width: percentage(1/2)
                flex: 0 0 percentage(1/2)

                &:nth-child(3n)
                    max-width: percentage(1/1)
                    flex: 0 0 percentage(1/1)

    &--left
        left: rem(-15)
        position: relative
        z-index: 5
        width: 143%
        margin-bottom: rem(120)
        @media only screen and (max-width: 1540px)
            width: 160%
            margin-bottom: rem(90)
        @media only screen and (max-width: 991px)
            width: 100%
            left: 0
            margin-bottom: rem(50)

    &--right
        padding-left: rem(67)
        width: 100%
        position: absolute
        right: 0
        bottom: rem(62)
        @media only screen and (max-width: 991px)
            position: relative
            bottom: 0
            padding: 0 rem(15)
            padding-top: rem(100)


    &--header
        +row-col(10)
        width: 100%
        overflow: hidden
        position: relative
        top: rem(-98)
        right: rem(-15)
        @media only screen and (max-width: 1540px)
            top: rem(-75)
        @media only screen and (max-width: 991px)
            right: 0
        @media only screen and (max-width: 768px)
            top: rem(-50)
        @media only screen and (max-width: 575px)
            top: rem(-75)

        .gallery__item
            height: rem(208)
            @media only screen and (max-width: 1540px)
                height: rem(150)
            @media only screen and (max-width: 768px)
                height: rem(100)
            @media only screen and (max-width: 575px)
                margin-bottom: rem(20)
                height: rem(150)

            &:hover
                &:before
                    opacity: 0

        @media only screen and (max-width: 575px)
            [class^="col-"]
                max-width: percentage(1/2)
                flex: 0 0 percentage(1/2)

            [class^="col-"]
                &:nth-child(3n)
                    max-width: percentage(1/1)
                    flex: 0 0 percentage(1/1)

    &__item
        width: 100%
        height: 100%
        background-repeat: no-repeat
        background-size: cover
        background-position: center center
        display: block
        position: relative

        &:hover
            &:before
                opacity: 1

        &:before
            content: ""
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            background-color: rgba(204, 160, 115, 0.7)
            opacity: 0
            transition: opacity 0.2s
            background-image: url("../img/icon/plus.svg")
            background-position: center center
            background-size: 25px auto
            background-repeat: no-repeat

        img
            opacity: 0