.icon
    display: block
    position: relative

    &:before,
    &:after
        position: absolute
        content: ""
        top: 0
        left: 0
        width: 100%
        height: 100%
        transition: all 0.2s
        background-repeat: no-repeat
        background-position: center center

    &:before
        opacity: 1

    &:after
        opacity: 0

    &:hover
        &:before
            opacity: 0

        &:after
            opacity: 1

    &--contact
        width: rem(40)
        height: rem(40)

        &:before
            background-color: $white

        &:after
            background-color: $gold

        &.icon--facebook
            &:before,
            &:after
                background-size: 15px auto

        &.icon--instagram
            &:before,
            &:after
                background-size: 25px auto

        &.icon--youtube
            &:before,
            &:after
                background-size: 26px auto

    &--facebook
        &:before
            background-image: url("../img/icon/facebook.svg")
        &:after
            background-image: url("../img/icon/facebook-hover.svg")

    &--instagram
        &:before
            background-image: url("../img/icon/instagram.svg")
        &:after
            background-image: url("../img/icon/instagram-hover.svg")

    &--youtube
        &:before
            background-image: url("../img/icon/youtube.svg")
        &:after
            background-image: url("../img/icon/youtube-hover.svg")
