.info
    padding-top: rem(75)
    padding-bottom: rem(71)
    @media only screen and (max-width: 575px)
        padding-top: rem(40)
        padding-bottom: rem(35)

    &__title
        font-size: rem(34)
        line-height: rem(38)
        text-align: center
        font-family: $font-family-second
        color: $white
        text-transform: uppercase
        margin-bottom: rem(10)
        @media only screen and (max-width: 575px)
            font-size: rem(30)
            line-height: rem(34)
        @media only screen and (max-width: 450px)
            font-size: rem(24)
            line-height: rem(28)

    &__text
        font-size: rem(18)
        line-height: rem(22)
        color: $white
        text-align: center
        margin-bottom: rem(34)
        @media only screen and (max-width: 450px)
            font-size: rem(16)
            line-height: rem(20)

    &__mail
        position: relative
        max-width: rem(450)
        width: 100%
        height: rem(54)
        margin: 0 auto
        margin-bottom: rem(14)

        input
            width: 100%
            height: rem(54)
            border: none
            border-radius: 0px
            padding-left: rem(20)
            padding-right: rem(160)
            font-size: rem(16)
            color: $black-200
            &::placeholder
                font-size: rem(16)
                color: $black-200

            @media only screen and (max-width: 450px)
                padding-right: rem(110)

    &__gdpr
        font-size: rem(14)
        color: $white
        text-align: center
        margin-bottom: 0

        a
            color: $white
            text-decoration: underline

            &:hover
                text-decoration: none
