.infobar
    position: absolute
    top: -65px
    left: 7%
    @media only screen and (max-width: 991px)
        display: none

    &__content
        position: relative
        padding-left: 120px
        transform: rotate(-90deg)
        &:before
            content: ""
            position: absolute
            top: 50%
            left: 0
            width: rem(100)
            height: rem(1)
            background-color: $gold
            display: block

        span
            color: $white
            font-family: $font-family-second
            text-transform: uppercase
            font-size: rem(14)
            line-height: rem(16)
            letter-spacing: 1px
            text-decoration: underline
            cursor: pointer
            &:hover
                text-decoration: none
