.map
    position: relative

    #map
        width: 100%
        height: rem(782)
        overflow: hidden
        @media only screen and (max-width: 768px)
            height: rem(900)

    &__header
        position: absolute
        z-index: 5
        top: rem(75)
        left: 0
        right: 0
        margin-left: auto
        margin-right: auto

    &__info
        max-width: rem(455)
        width: 100%
        background-color: #252835
        position: absolute
        z-index: 5
        top: rem(149)
        right: 15%
        padding: rem(70) rem(15) rem(50) rem(81)
        box-shadow: 0 12px 44px 0 rgba(12, 16, 32, 0.2)
        @media only screen and (max-width: 1540px)
            top: rem(200)
            padding: rem(40) rem(15) rem(30) rem(81)
            right: 5%
        @media only screen and (max-width: 768px)
            bottom: rem(50)
            top: auto
            left: 0
            right: 0
            margin-left: auto
            margin-right: auto
        @media only screen and (max-width: 575px)
            margin: 0 auto
            right: 0
            left: 0
            width: calc(100% - 30px)

    &__subtitle
        font-size: rem(22)
        color: $white
        position: relative
        text-align: left
        text-transform: uppercase
        font-family: $font-family-second
        margin-bottom: rem(35)
        &:after
            position: absolute
            content: ""
            bottom: rem(-5)
            left: 0
            width: rem(80)
            height: rem(2)
            background-color: $gold