.parcel

    &__content
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0

    &__table
        position: relative
        margin-bottom: rem(18)


    &__img
        display: block
        width: 100%
        height: rem(709)
        background-size: cover
        background-position: center center
        background-repeat: no-repeat
        margin-bottom: rem(56)
        position: relative
        @media only screen and (max-width: 1366px)
            height: rem(700)
        @media only screen and (max-width: 1280px)
            height: rem(647)
        @media only screen and (max-width: 1200px)
            height: rem(604)
        @media only screen and (max-width: 768px)
            height: rem(330)
        @media only screen and (max-width: 760px)
            margin-bottom: rem(10)
        @media only screen and (max-width: 575px)
            height: rem(220)

        svg
            position: relative
            top: 24%
            left: 28%
            @media only screen and (max-width: 1366px)
                left: 25%
            @media only screen and (max-width: 1280px)
                width: 68%
                height: auto
                top: 26%
                left: 27%
            @media only screen and (max-width: 768px)
                top: 23%
                left: 22%
            @media only screen and (max-width: 575px)
                top: 28%
                left: 29%

    &__dnone
        display: none

    &__filter
        margin-bottom: rem(29)

    &__button
        text-align: center
        margin-bottom: rem(47)

    &__info
        font-size: rem(16)
        color: $black-200
        line-height: rem(26)
        text-align: center
        margin-bottom: rem(13)
        @media only screen and (max-width: 470px)
            font-size: rem(15)
            line-height: rem(20)

    &__footer
        text-align: center
        font-size: rem(21)
        line-height: rem(36)
        font-weight: 600
        margin-bottom: 0
        @media only screen and (max-width: 470px)
            font-size: rem(18)
            line-height: rem(25)

    &__item
        fill-opacity: 0.5
        //stroke-dasharray: 2.5
        position: relative

        &:after
            content: ""
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            background-color: blue
            z-index: 20

        &.is-free
            fill: $color-free
        &.is-sold
            fill: $color-sold
        &.is-reservation
            fill: $color-reservation

        &.is-free,
        &.is-reservation,
        &.is-sold
            &.is-hidden
                fill: transparent !important
                stroke: transparent !important

    &__number
        position: absolute
        &.is-active
            .parcel__cnt__item
                display: block


        span
            position: relative
            width: rem(22)
            height: rem(22)
            top: calc(50% - 11px)
            left: calc(50% - 11px)
            background-color: $white
            border-radius: 100%
            font-weight: 700
            font-size: rem(11)
            color: $black-100
            text-align: center
            z-index: 1
            cursor: pointer
            display: block
            line-height: 22px
            opacity: 0.4
            @media only screen and (max-width: 1280px)
                height: rem(18)
                width: rem(18)
                top: calc(50% - 9px)
                left: calc(50% - 9px)
                font-size: rem(9)
                line-height: rem(18)
            @media only screen and (max-width: 768px)
                height: rem(14)
                width: rem(14)
                top: calc(50% - 7px)
                left: calc(50% - 7px)
                font-size: rem(6)
                line-height: rem(14)
            @media only screen and (max-width: 575px)
                height: rem(10)
                width: rem(10)
                top: calc(50% - 5px)
                left: calc(50% - 5px)
                font-size: rem(6)
                line-height: rem(10)
            @media only screen and (min-width: 992px)
                &:hover
                    opacity: 1

            &.is-active
                background-color: #000937
                color: $white
                opacity: 1
                & + .parcel__cnt__item
                    display: block

    &__cnt
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0

        &__item
            position: absolute
            width: rem(221)
            background-color: #252835
            padding: rem(21) rem(10) rem(25) rem(31)
            display: none
            top: rem(50)
            left: rem(40)
            z-index: 5
            box-shadow: 0 2px 4px 0 rgba(26, 26, 26, 0.14)
            @media only screen and (max-width: 1440px)
                left: rem(-30)

            tr
                display: flex
                flex-wrap: wrap
                line-height: rem(26)

                td
                    width: percentage(1/1)
                    flex: 0 0 percentage(1/1)
                    color: $white
                    font-size: rem(16)
                    font-weight: 300

                    &:nth-child(1)
                        font-weight: 700

                    &:nth-child(3)
                        display: none

            .button--parcel
                background-color: $gold
                border-color: $gold
                float: left
                padding: rem(7) rem(13)

                &:hover
                    background-color: $gold-hover
                    border-color: $gold-hover

            .table__bullet
                padding-left: rem(16)

                &:before
                    top: rem(7)



            .parcel__dnone
                display: inline-block !important



    &__db
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%

    &__compas
        position: absolute
        top: rem(55)
        left: 0
        right: 0
        margin-left: auto
        margin-right: auto
        text-align: center
        @media only screen and (max-width: 1280px)
            top: rem(40)
        @media only screen and (max-width: 575px)
            top: rem(10)

        img
            @media only screen and (max-width: 1280px)
                max-width: rem(70)
            @media only screen and (max-width: 768px)
                max-width: rem(40)
            @media only screen and (max-width: 575px)
                max-width: rem(30)

#Pozemek
    stroke: #252835
    stroke-width: 2px


#cast-left-up
    stroke: #252835

.parcel__item
    &--part
        stroke-dasharray: 3.5
        stroke: #252835
        stroke-width: 1px
    &--full
        stroke: #252835

#display--button
    color: #fff