.popup
    max-width: rem(550)
    width: 100%
    background-color: $bg-dark
    @media only screen and (max-width: 500px)
        padding-left: rem(15)
        padding-right: rem(15)

    .fancybox-close-small
        color: $white !important

    &__title
        color: $white
        font-family: $font-family-second
        text-transform: uppercase
        position: relative
        margin-bottom: rem(30)
        @media only screen and (max-width: 500px)
            font-size: rem(22)
        &:before
            position: absolute
            content: ""
            height: rem(2)
            width: rem(150)
            left: 0
            bottom: -5px
            background-color: $gold