.reservation
    width: 100%
    height: 100%
    background-repeat: no-repeat
    background-size: cover
    background-position: center center
    padding-top: rem(50)
    padding-bottom: rem(75)
    @media only screen and (max-width: 575px)
        padding-bottom: rem(50)

    &__title
        color: $white
        text-transform: uppercase
        font-size: rem(34)
        line-height: rem(48)
        font-weight: 700
        font-family: $font-family-second
        margin-bottom: rem(23)
        text-align: center
        @media only screen and (max-width: 575px)
            font-size: rem(28)
            line-height: rem(42)

    &__text
        color: $white-100
        font-size: rem(18)
        line-height: rem(30)
        text-align: center
        margin-bottom: rem(39)

    &__button
        text-align: center

        a
            margin: 0 rem(10)
            @media only screen and (max-width: 575px)
                margin: 0 auto
                margin-bottom: rem(15)