.section
    position: relative

    &--article
        width: 100%
        height: 100%
        background-size: cover
        background-repeat: no-repeat
        background-position: center center

    &--info
        width: 100%
        height: 100%
        background-repeat: no-repeat
        background-size: cover
        background-position: center center
        display: block

    &--dark
        background-color: $bg-dark

    &--gray
        background-color: $bg-gray

    &--parcel
        padding-top: rem(65)
        padding-bottom: rem(60)
        @media only screen and (max-width: 575px)
            padding-top: rem(35)
            padding-bottom: rem(30)

    &--header
        position: relative
        padding-top: rem(189)
        padding-bottom: rem(110)
        @media only screen and (max-width: 1440px)
            padding-top: rem(150)
        @media only screen and (max-width: 1200px)
            padding-top: rem(120)
        @media only screen and (max-width: 768px)
            padding-top: rem(90)
        @media only screen and (max-width: 575px)
            padding-top: rem(70)

    &--video
        padding-top: rem(70)
        @media only screen and (max-width: 575px)
            padding-top: rem(40)

    &--gallery
        padding-bottom: rem(150)
        @media only screen and (min-width: 1367px) and (max-width: 1540px)
            overflow: hidden
        @media only screen and (max-width: 1540px)
            padding-bottom: rem(100)
        @media only screen and (max-width: 1024px)
            padding-bottom: rem(75)

    &__title
        font-size: rem(57)
        line-height: rem(70)
        color: $white
        font-family: $font-family-second
        text-transform: uppercase
        text-align: right
        max-width: rem(482)
        width: 100%
        position: relative
        @media only screen and (max-width: 1366px)
            font-size: rem(50)
            line-height: rem(63)
        @media only screen and (max-width: 1024px)
            font-size: rem(45)
            line-height: rem(58)
        @media only screen and (max-width: 991px)
            font-size: rem(40)
            line-height: rem(53)
            max-width: rem(485)
            text-align: left
            margin-bottom: rem(40)
        @media only screen and (max-width: 768px)
            font-size: rem(35)
            line-height: rem(48)
        @media only screen and (max-width: 575px)
            font-size: rem(30)
            line-height: rem(43)

        &:before
            content: ""
            position: absolute
            width: rem(139)
            height: rem(2)
            background-color: $gold
            top: rem(-39)
            right: 0
            @media only screen and (max-width: 991px)
                left: 0
                right: auto
                top: rem(-12)

        &--left
            margin-right: rem(83)
            margin-left: auto
            @media only screen and (max-width: 991px)
                margin-left: 0
                margin-right: auto


    &__header
        font-size: rem(42)
        line-height: rem(53)
        text-align: left
        color: $blue
        text-transform: uppercase
        font-family: $font-family-second
        position: relative
        font-weight: 700
        margin-bottom: rem(70)
        @media only screen and (max-width: 768px)
            font-size: rem(35)
            line-height: rem(46)
        @media only screen and (max-width: 575px)
            font-size: rem(25)
            line-height: rem(36)

        &:after
            content: ""
            position: absolute
            bottom: rem(-23)
            left: 0
            width: rem(160)
            height: rem(2)
            background-color: $gold
            @media only screen and (max-width: 575px)
                bottom: rem(-10)
                width: rem(120)

        &--small
            font-size: rem(34)
            line-height: rem(48)
            &:after
                bottom: rem(-15)
                width: rem(139)

            @media only screen and (max-width: 575px)
                font-size: rem(25)
                line-height: rem(39)
                margin-bottom: rem(50)

                &:after
                    bottom: rem(-10)
                    width: rem(100)

        &--center
            text-align: center
            &:after
                left: 0
                right: 0
                margin-left: auto
                margin-right: auto

        &--blue
            &:after
                background-color: $blue

    &__subtitle
        font-size: rem(21)
        line-height: rem(36)
        color: $blue
        font-weight: 600
        margin-bottom: rem(20)

    &__content
        max-width: rem(755)
        width: 100%

    &__image
        max-width: rem(629)
        width: 100%
        height: rem(790)
        display: block
        background-repeat: no-repeat
        background-size: cover
        background-position: center center
        position: relative
        top: rem(-97)
        @media only screen and (max-width: 1540px)
            height: rem(600)
        @media only screen and (max-width: 1024px)
            height: rem(500)
        @media only screen and (max-width: 991px)
            max-width: rem(450)
        @media only screen and (max-width: 768px)
            max-width: rem(350)
            height: rem(400)

        &--left
            margin-right: rem(83)
            margin-left: auto
            @media only screen and (max-width: 991px)
                margin: 0 auto

    &__background
        width: 100%
        height: 100%
        display: block
        position: relative
        right: rem(-15)
        background-size: cover
        background-position: center center
        background-repeat: no-repeat

        &--left
            right: auto
            left: rem(-15)
            @media only screen and (min-width: 992px) and (max-width: 1366px)
                left: rem(-50)
            @media only screen and (max-width: 991px)
                left: 0
        @media only screen and (min-width: 992px) and (max-width: 1366px)
            right: rem(-50)
        @media only screen and (max-width: 991px)
            max-width: 100%
            width: 100%
            height: rem(350)
            right: 0
        @media only screen and (max-width: 575px)
            height: rem(300)
        @media only screen and (max-width: 350px)
            height: rem(250)

    &__nopadding
        @media only screen and (max-width: 991px)
            padding: 0 !important
            overflow: hidden

    &__top
        position: relative
        top: rem(-150)
        @media only screen and (max-width: 1540px)
            top: rem(-100)
        @media only screen and (max-width: 1024px)
            top: rem(-50)
        @media only screen and (max-width: 991px)
            top: rem(-150)
        @media only screen and (max-width: 575px)
            top: rem(-80)

    &__cnt
        padding-top: rem(359)
        padding-bottom: rem(270)
        max-width: rem(454)
        width: 100%
        margin-right: rem(50)
        margin-left: auto
        @media only screen and (max-width: 1540px)
            padding-top: rem(280)
            padding-bottom: rem(190)
        @media only screen and (max-width: 1366px)
            padding-top: rem(200)
            padding-bottom: rem(110)
        @media only screen and (max-width: 1024px)
            padding-top: rem(150)
            padding-bottom: rem(60)
        @media only screen and (max-width: 991px)
            margin-left: 0
            margin-right: auto
            padding-top: rem(100)
        @media only screen and (max-width: 575px)
            padding-top: rem(50)
            padding-bottom: rem(30)

    &__text
        p
            font-size: rem(16)
            line-height: rem(27)

    &__list
        margin-bottom: rem(40)
        ul
            padding: 0
            margin: 0
            list-style-type: none

        li
            position: relative
            padding-left: rem(40)
            color: $black-100
            font-size: rem(18)
            line-height: rem(22)
            margin-bottom: 15px
            &:before
                content: ""
                position: absolute
                top: 3px
                left: 0
                width: rem(16)
                height: rem(16)
                border: 1px solid $gold
                border-radius: 100%
                background-color: transparent
                display: block

            &:last-child
                margin-bottom: 0