.select
    content: ''
    position: relative
    display: block
    width: 100%
    height: 70px
    padding-right: 90px
    padding-left: 45px
    margin-bottom: 35px
    clear: both
    font-size: 20px
    font-weight: 800
    line-height: 68px
    white-space: nowrap
    cursor: pointer
    background-color: $white
    border: 2px solid $gray-100
    outline: none
    box-sizing: border-box
    transition: all 0.2s ease-in-out, border-color 0.2s
    user-select: none

    &:before
        content: ""
        position: absolute
        top: 50%
        right: 35px
        width: 0
        height: 0
        margin-top: -4px
        border-top: 8px solid $black
        border-right: 8px solid transparent
        border-left: 8px solid transparent
        transform: rotate(0)
        transition: border-color 0.2s, transform 0.2s

    &.open
        border-color: $black

        &:before
            border-bottom-color: $black
            transform: rotate(180deg)

        .select__list
            pointer-events: auto
            opacity: 1
            transform: scale(1) translateY(0)

    &.disabled
        color: $white
        pointer-events: none
        background-color: lighten($gray-600, 0.4)
        border-color: #d6d6d6

        &:before,
        &:after
            display: none

    &__list
        position: absolute
        top: 100%
        left: 0
        z-index: 60
        width: 100%
        padding: 0
        overflow: hidden
        pointer-events: none
        background-color: $white
        border: 2px solid $black
        border-radius: 3px
        opacity: 0
        transform: scale(0.75) translateY(- 48 / 2)
        box-sizing: border-box
        transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out
        transform-origin: 50% 0

    &__current
        display: block
        padding-right: 20px
        color: $black
        white-space: nowrap

    &__option
        width: 100%
        min-height: 48px
        padding-right: 25px
        padding-left: 25px
        font-weight: 400
        line-height: 46px
        text-align: left
        list-style: none
        cursor: pointer
        outline: none
        transition: all 0.2s

        &:hover,
        &.focus
            background-color: $gray-100

        &.selected
            font-weight: 700

            &.focus
                background-color: $gray-200

        &.disabled
            color: $white
            cursor: default
            background-color: transparent

        &.placeholder
            display: none

    &__input
        padding-left: 0
        border: 0



    &.no-csspointerevents
        .select__list
            display: none

        &.open
            .select__list
                display: block
