.slider

    .slick-arrow
        width: rem(64)
        height: rem(64)
        background-color: $gold
        background-position: center center
        background-size: rem(23) auto
        background-repeat: no-repeat
        transition: all 0.2s
        &.slick-disabled
            opacity: 0

        &:hover
            background-color: $gold-hover

        @media only screen and (max-width: 575px)
            width: rem(35)
            height: rem(35)
            background-size: rem(17) auto

    .slick-prev
        left: 0
        z-index: 5
        background-image: url("../img/icon/arrow-left.svg")
        &:hover
            background-position: center left rem(15)
            @media only screen and (max-width: 575px)
                background-position: center left rem(5)

    .slick-next
        right: 0
        background-image: url("../img/icon/arrow-right.svg")
        &:hover
            background-position: center right rem(15)
            @media only screen and (max-width: 575px)
                background-position: center right rem(5)

    &--article
        margin: 0 rem(-10)
        @media only screen and (max-width: 768px)
            margin: 0 rem(-15)
        @media only screen and (max-width: 575px)
            margin: 0 rem(-5)
        @media only screen and (max-width: 450px)
            margin: 0 rem(-15)

        .slick-prev
            @media only screen and (max-width: 575px)
                left: 2%

        .slick-next
            right: -10%
            @media only screen and (max-width: 1860px)
                right: 5%
            @media only screen and (max-width: 1610px)
                right: 10%
            @media only screen and (max-width: 1440px)
                right: -5%
            @media only screen and (max-width: 1366px)
                right: 0
            @media only screen and (max-width: 575px)
                right: 2%

        .slick-slide
            @media only screen and (min-width: 1367px)
                &:not(.slick-active)
                    .slider__item
                        position: relative
                        &:after
                            position: absolute
                            content: ""
                            top: 0
                            left: 10px
                            width: calc(100% - 20px)
                            height: 100%
                            background-color: rgba(4, 18, 31, 0.5)
                            z-index: 2

                //&.slick-active
                //    .article__item
                //        &:after
                //            opacity: 0


        .slider__item
            position: relative
            padding: 0 rem(10)
            //box-shadow: 0 12px 34px 0 rgba(8, 16, 34, 0.15)
            @media only screen and (max-width: 768px)
                padding: 0 rem(15)
            @media only screen and (max-width: 575px)
                padding: 0 rem(5)
            @media only screen and (max-width: 450px)
                padding: 0 rem(15)

        .slick-list
            width: 120%
            padding-right: 20%
            overflow: hidden
            @media only screen and (max-width: 1540px)
                width: 125%
                padding-right: 25%
            @media only screen and (max-width: 1366px)
                width: 100%
                padding-right: 0

    &--gallery
        margin: 0 rem(-10)
        @media only screen and (max-width: 575px)
            margin: 0 rem(-5)

        .slider__item
            height: rem(894)
            width: 100%
            padding: 0 rem(10)
            @media only screen and (max-width: 1540px)
                height: rem(600)
            @media only screen and (max-width: 1024px)
                height: rem(450)
            @media only screen and (max-width: 575px)
                height: rem(300)
                padding: 0 rem(5)
            @media only screen and (max-width: 350px)
                height: rem(250)

        .slick-next
            right: 175px
            @media only screen and (max-width: 1540px)
                right: 120px
            @media only screen and (max-width: 1366px)
                right: 0

        .slick-prev
            @media only screen and (max-width: 575px)
                &:hover
                    background-position: center left rem(5)

    &--homepage

        .slider__inner
            height: rem(870)
            @media only screen and (max-width: 991px)
                height: rem(650)
            @media only screen and (max-width: 768px)
                height: rem(550)

        .slick-dotted.slick-slider
            margin-bottom: 0


        .slick-arrow
            display: none !important

        .slick-dots
            bottom: rem(162)
            text-align: right
            right: rem(75)
            @media only screen and (max-width: 991px)
                bottom: rem(105)
                right: rem(10)
            @media only screen and (min-width: 768px) and (max-width: 991px)
                right: rem(50)
            @media only screen and (max-width: 575px)
                bottom: rem(35)

            li
                width: rem(49)
                height: rem(35)
                border-bottom: 1px solid $white
                margin: 0 rem(10)
                opacity: 1
                transition: opacity 0.2s
                &:not(.slick-active)
                    opacity: 0.5
                    &:hover
                        opacity: 1

                a
                    color: $white
                    font-family: $font-family-second
                    font-size: rem(14)
                    letter-spacing: 1.75px
                    display: flex
                    width: 100%
                    height: 100%
                    align-items: flex-end
                    padding-bottom: 5px
                    &:hover
                        color: $white

        .slider__item
            width: 100%
            height: rem(870)
            position: relative
            @media only screen and (max-width: 991px)
                height: rem(650)
            @media only screen and (max-width: 768px)
                height: rem(550)

            &:before
                content: ""
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 100%
                background-color: $black
                opacity: 0.2
                z-index: 1

    &__title,
    &__text
        color: $white
        text-align: center
        position: relative
        z-index: 2

    &__title
        padding-top: rem(446)
        font-size: rem(70)
        font-weight: 700
        letter-spacing: 4.2px
        text-transform: uppercase
        line-height: rem(92)
        margin-bottom: rem(16)
        font-family: $font-family-second
        @media only screen and (max-width: 991px)
            padding-top: rem(280)
            font-size: rem(60)
            line-height: rem(82)
        @media only screen and (max-width: 768px)
            padding-top: rem(220)
            font-size: rem(50)
            line-height: rem(72)
        @media only screen and (max-width: 575px)
            font-size: rem(30)
            line-height: rem(45)
            padding-top: rem(155)

    &__text
        font-size: rem(22)
        line-height: rem(34)
        margin-bottom: 0
        @media only screen and (max-width: 768px)
            font-size: rem(20)
            line-height: rem(32)
        @media only screen and (max-width: 575px)
            font-size: rem(18)
            line-height: rem(30)


    &__img
        display: block
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-size: cover
        background-repeat: no-repeat
        background-position: center center

        @keyframes example
            from
                transform: scale(1)

            to
                transform: scale(1.15)

.is-animation
    .slider__img
        animation-play-state: running
        animation-name: example
        animation-duration: 12s
        animation-timing-function: ease-in-out

.slider-video
    position: absolute
    width: 100%
    height: 100%
    object-fit: cover
    z-index: -100