.table

    &--map
        table
            width: 100%

            tr
                height: 40px
                td
                    color: $white
                    font-size: rem(16)
                    line-height: rem(27)
                    &:first-child
                        color: #939BB8
                        width: rem(80)

    &--parcel
        position: relative
        width: 100%
        @media only screen and (max-width: 820px)
            overflow-x: scroll

        .table__bullet
            width: rem(120)

        table
            max-width: rem(965)
            width: 100%
            margin: 0 auto
            @media only screen and (max-width: 820px)
                min-width: rem(705)

            tr
                height: rem(60)
                @media only screen and (max-width: 1540px)
                    height: rem(50)
                @media only screen and (max-width: 1024px)
                    height: rem(40)
                @media only screen and (max-width: 768px)
                    height: rem(35)

            thead
                border-bottom: 1px solid $table-thead-border
                tr
                    background-image: $table-thead-bg

                td
                    text-transform: uppercase
                    font-size: rem(14)
                    font-weight: 900
                    font-family: $font-family-second
                    &:first-child
                        padding-left: rem(20)
                    @media only screen and (max-width: 1280px)
                        padding-right: rem(30)
                        line-height: rem(18)

            tbody
                tr
                    border-bottom: 1px solid $table-tbody-border
                    &:last-child
                        border-bottom: none


                    td
                        font-size: rem(14)
                        text-align: left
                        color: $black-200
                        &:first-child
                            padding-left: rem(20)


    &__bullet
        position: relative
        padding-left: rem(23)
        &:before
            content: ""
            position: absolute
            left: 0
            top: rem(8)
            width: rem(8)
            height: rem(8)
            border-radius: 100%

        &.is-free
            &:before
                background-color: $color-free

        &.is-reservation
            &:before
                background-color: $color-reservation

        &.is-sold
            &:before
                background-color: $color-sold

[data-table],
[data-content-available="unavailable"],
[data-content-available="reservation"]
    &.is-hidden
        display: none

[data-table-available="unavailable"]

    &.is-disabled
        .button
            position: relative
            background-color: $button-disabled
            cursor: not-allowed
            pointer-events: none


[data-content-available="unavailable"]
    .button--parcel
        display: none

.fade:after
    position: absolute
    content: ""
    bottom: 0
    left: 0
    width: 100%
    height: rem(59)
    background-image: $table-last-tr
    z-index: 2
    @media only screen and (max-width: 1540px)
        height: rem(49)
    @media only screen and (max-width: 1360px)
        min-width: rem(1243)
    @media only screen and (max-width: 820px)
        min-width: rem(705)
        width: 100%
    @media only screen and (max-width: 1024px)
        height: rem(43)