.text

    &--white
        p
            color: $white-100

    &--blue
        p
            color: $blue

    &--base
        p
            font-size: rem(18)
            font-weight: 300
            line-height: rem(34)

    &--big
        p
            font-size: rem(21)
            line-height: rem(36)

    &--semibold
        font-weight: 600

.section--article
    .article__text
        padding-left: 20%
        padding-right: 20%