.video

    &__content
        max-width: rem(393)
        width: 100%
        margin-left: auto
        margin-right: 0
        padding-top: rem(104)
        @media only screen and (max-width: 1540px)
            padding-top: rem(40)
        @media only screen and (max-width: 1024px)
            margin-bottom: rem(50)
        @media only screen and (max-width: 991px)
            padding-top: 0
            margin-left: 0
            margin-right: auto

    &__title
        color: $blue
        font-size: rem(22)
        line-height: rem(26)
        font-weight: 700
        font-family: $font-family-second
        margin-bottom: rem(30)
        text-transform: uppercase

    &__text
        font-size: rem(18)
        line-height: rem(30)
        text-align: left
        color: $blue
        margin-bottom: rem(24)
        font-weight: 300

    &__item
        max-width: rem(1060)
        width: 100%
        height: rem(626)
        box-shadow: $video-shadow
        position: relative
        text-align: center
        background-size: cover
        cursor: pointer
        margin-left: rem(25)
        z-index: 5
        &:hover
            iframe
                background-color: transparent
        @media only screen and (min-width: 1367px) and (max-width: 1540px)
            margin-bottom: 30px
        @media only screen and (max-width: 1540px)
            height: rem(460)
            margin-left: auto
            margin-right: 0
        @media only screen and (max-width: 1024px)
            height: rem(350)
            margin-top: 150px
        @media only screen and (max-width: 991px)
            margin-left: 0
            margin-top: 0
        @media only screen and (max-width: 575px)
            height: rem(250)

        iframe
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            background-color: $video-bg
            transition: all 0.2s

    &--play &__button,
    &--play &__description
        display: none

    &__description
        font-size: rem(24)
        color: $white
        text-align: center
        position: absolute
        top: 63%
        left: 50%
        transform: translate(-50%, -50%)
        @media only screen and (max-width: 1540px)
            top: 67%
        @media only screen and (max-width: 1024px)
            font-size: rem(20)
        @media only screen and (max-width: 575px)
            font-size: rem(18)
            top: 70%


    &__button
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: 5
        border-radius: rem(8)
        transition: all 0.2s

        &:before, &:after
            content: ""
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            width: rem(106)
            height: rem(106)
            background-position: center center
            background-size: 25px auto
            background-repeat: no-repeat
            background-image: url("../img/icon/play.svg")
            border-radius: 100%
            box-shadow: $video-button-shadow
            @media only screen and (max-width: 1024px)
                width: rem(85)
                height: rem(85)
                background-size: 20px auto
            @media only screen and (max-width: 575px)
                width: rem(70)
                height: rem(70)
                background-size: 15px auto

        &:before
            background-color: $video-button

        &:after
            background-color: $video-button-hover
            opacity: 0

        &:hover
            &:before
                opacity: 0

            &:after
                opacity: 1