{% for message in app.flashes('success') %}
    <div id="alert-success">
        {{ message }}
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $.fancybox.open({
                src: '#alert-success'
            });
        });
    </script>
{% endfor %}

{% for message in app.flashes('error') %}
    <div id="alert-error">
        {{ message }}
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $.fancybox.open({
                src: '#alert-error'
            });
        });
    </script>
{% endfor %}