<?xml version="1.0" encoding="UTF-8"?>
<svg width="920px" height="283px" viewBox="0 0 920 283" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 61.2 (89653) - https://sketch.com -->
    <title>Parcely</title>
    <desc>Created with Sketch.</desc>
    <g id="Pages" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Index-Yacht-Club-Copy-7" transform="translate(-619.000000, -298.000000)" fill-rule="nonzero">
            <g id="Parcely" transform="translate(1075.509186, 438.595404) rotate(-11.000000) translate(-1075.509186, -438.595404) translate(600.009186, 384.095404)">
                <g id="cast-left-up" transform="translate(12.000000, -0.000079)">
                    <path d="M18.198039,7.90392214e-05 L195.801961,7.90392214e-05 C201.324808,7.90392214e-05 205.801961,4.47723154 205.801961,10.000079 C205.801961,10.6585989 205.736914,11.3155085 205.607768,11.9612404 L199.607768,41.9612404 C198.672919,46.6354824 194.568771,50.000079 189.801961,50.000079 L12.198039,50.000079 C6.67519153,50.000079 2.19803903,45.5229265 2.19803903,40.000079 C2.19803903,39.3415592 2.2630859,38.6846495 2.39223227,38.0389177 L8.39223227,8.03891769 C9.32708066,3.36467572 13.4312288,7.90392214e-05 18.198039,7.90392214e-05 Z" id="Pozemek"></path>
                    <path d="M195.801961,7.90392132e-05 C201.324808,7.90392132e-05 205.801961,4.47723154 205.801961,10.000079 C205.801961,10.6585989 205.736914,11.3155085 205.607768,11.9612404 L199.607768,41.9612404 C198.672919,46.6354824 194.568771,50.000079 189.801961,50.000079 L162.158476,50.000079 L171.236476,7.90392132e-05 L195.801961,7.90392132e-05 Z" id="2c" data-parcel-name="2c" class="parcel__item" stroke="transparent"></path>
                    <path d="M171.240476,7.9039215e-05 L162.132476,49.999079 L128.249476,49.999079 L138.997476,7.9039215e-05 L171.240476,7.9039215e-05 Z" id="2b" data-parcel-name="2b" class="parcel__item parcel__item--part"></path>
                    <path d="M138.994476,7.9039215e-05 L128.232476,50.000079 L95.938476,50.000079 L108.234476,7.9039215e-05 L138.994476,7.9039215e-05 Z" id="2a" data-parcel-name="2a" class="parcel__item" stroke="transparent"></path>
                    <path d="M108.219039,-2.27373675e-13 L95.858039,50 L12.198039,50.000079 C6.67519153,50.000079 2.19803903,45.5229265 2.19803903,40.000079 C2.19803903,39.3415592 2.2630859,38.6846495 2.39223227,38.0389177 L8.39223227,8.03891769 C9.32708066,3.36467572 13.4312288,7.90392207e-05 18.198039,7.90392207e-05 L108.219039,-2.27373675e-13 Z" id="1" data-parcel-name="1" class="parcel__item"></path>
                </g>
                <g id="cast-left-down" transform="translate(0.595949, 58.668677)" fill="none">
                    <path d="M18.198039,7.90392214e-05 L195.801961,7.90392214e-05 C201.324808,7.90392214e-05 205.801961,4.47723154 205.801961,10.000079 C205.801961,10.6585989 205.736914,11.3155085 205.607768,11.9612404 L199.607768,41.9612404 C198.672919,46.6354824 194.568771,50.000079 189.801961,50.000079 L12.198039,50.000079 C6.67519153,50.000079 2.19803903,45.5229265 2.19803903,40.000079 C2.19803903,39.3415592 2.2630859,38.6846495 2.39223227,38.0389177 L8.39223227,8.03891769 C9.32708066,3.36467572 13.4312288,7.90392214e-05 18.198039,7.90392214e-05 Z" id="Pozemek"></path>
                    <path d="M195.801961,7.90392151e-05 C201.324808,7.90392151e-05 205.801961,4.47723154 205.801961,10.000079 C205.801961,10.6585989 205.736914,11.3155085 205.607768,11.9612404 L199.607768,41.9612404 C198.672919,46.6354824 194.568771,50.000079 189.801961,50.000079 L95.938476,50.000079 L108.234476,7.90392151e-05 L195.801961,7.90392151e-05 Z" id="12" data-parcel-name="12" class="parcel__item" stroke="transparent"></path>
                    <path d="M108.219039,-2.27373675e-13 L95.858039,50 L12.198039,50.000079 C6.67519153,50.000079 2.19803903,45.5229265 2.19803903,40.000079 C2.19803903,39.3415592 2.2630859,38.6846495 2.39223227,38.0389177 L8.39223227,8.03891769 C9.32708066,3.36467572 13.4312288,7.90392207e-05 18.198039,7.90392207e-05 L108.219039,-2.27373675e-13 Z" id="11" data-parcel-name="11" class="parcel__item parcel__item--full"></path>
                </g>
                <g id="cast-right-up" transform="translate(229.000000, -0.000000)">
                    <path d="M18.198039,0 L698.396353,0 C701.887912,-1.00503041e-06 705.126647,1.82111567 706.940711,4.8044285 C716.980237,21.3148945 722,30.784618 722,33.2135989 C722,35.8050328 710.851615,41.1960654 688.554846,49.3866968 C687.450485,49.7923832 686.283197,50 685.106678,50 L12.198039,50 C6.67519153,50 2.19803903,45.5228475 2.19803903,40 C2.19803903,39.3414801 2.2630859,38.6845705 2.39223227,38.0388386 L8.39223227,8.03883865 C9.32708066,3.36459668 13.4312288,2.65200567e-15 18.198039,0 Z" id="Pozemek"></path>
                    <path d="M44.297039,-0.000603131567 L35.882039,49.9993969 L12.198039,50 C6.67519153,50 2.19803903,45.5228475 2.19803903,40 C2.19803903,39.3414801 2.2630859,38.6845705 2.39223227,38.0388386 L8.39223227,8.03883865 C9.32708066,3.36459668 13.4312288,-9.06842743e-13 18.198039,-9.09494702e-13 L44.297039,-0.000603131567 Z" data-parcel-name="3a" id="3a" class="parcel__item" stroke="transparent"></path>
                    <path d="M75.7175933,-0.000603131567 L68.4445933,49.9993969 L35.8825933,49.9993969 L44.2975933,-0.000603131567 L75.7175933,-0.000603131567 Z" id="3b" data-parcel-name="3b" class="parcel__item parcel__item--part"></path>
                    <path d="M107.481593,-0.000603131566 L100.312593,49.9993969 L68.4455933,49.9993969 L75.7175933,-0.000603131566 L107.481593,-0.000603131566 Z" id="3c" data-parcel-name="3c" class="parcel__item" stroke="transparent"></path>
                    <path d="M134.221593,-0.000603131566 L127.815593,49.9993969 L100.313593,49.9993969 L107.481593,-0.000603131566 L134.221593,-0.000603131566 Z" id="4a" data-parcel-name="4a" class="parcel__item parcel__item--part"></path>
                    <path d="M161.828593,-0.000603131566 L157.161593,49.9993969 L127.816593,49.9993969 L134.221593,-0.000603131566 L161.828593,-0.000603131566 Z" id="4b" data-parcel-name="4b" class="parcel__item"  stroke="transparent"></path>
                    <path d="M191.670593,-0.000603131566 L189.228593,49.9993969 L157.161593,49.9993969 L161.828593,-0.000603131566 L191.670593,-0.000603131566 Z" id="4c" data-parcel-name="4c" class="parcel__item parcel__item--part"></path>
                    <path d="M232.829593,-0.000603131566 L232.705593,49.9993969 L189.229593,49.9993969 L191.670593,-0.000603131566 L232.829593,-0.000603131566 Z" id="5a" data-parcel-name="5a" class="parcel__item parcel__item--full"></path>
                    <path d="M277.810593,-0.000603131566 L279.521593,49.9993969 L232.706593,49.9993969 L232.829593,-0.000603131566 L277.810593,-0.000603131566 Z" id="5b" data-parcel-name="5b" class="parcel__item parcel__item--full"></path>
                    <path d="M316.362593,-0.000603131566 L318.445593,49.9993969 L279.521593,49.9993969 L277.811593,-0.000603131566 L316.362593,-0.000603131566 Z" id="6a" data-parcel-name="6a" class="parcel__item parcel__item--full"></path>
                    <path d="M353.428593,-0.000603131566 L359.193593,49.9993969 L318.445593,49.9993969 L316.363593,-0.000603131566 L353.428593,-0.000603131566 Z" id="6b" data-parcel-name="6b" class="parcel__item parcel__item--full"></path>
                    <path d="M399.872593,-0.000603131566 L406.843593,49.9993969 L359.193593,49.9993969 L353.429593,-0.000603131566 L399.872593,-0.000603131566 Z" id="7a" data-parcel-name="7a" class="parcel__item parcel__item--full"></path>
                    <path d="M438.714593,-0.000603131566 L453.071593,49.9993969 L406.843593,49.9993969 L399.873593,-0.000603131566 L438.714593,-0.000603131566 Z" id="7b" data-parcel-name="7b" class="parcel__item parcel__item--full"></path>
                    <path d="M511.249593,-0.000603131566 L530.922593,49.9993969 L453.071593,49.9993969 L438.715593,-0.000603131566 L511.249593,-0.000603131566 Z" id="8" data-parcel-name="8" class="parcel__item parcel__item--full"></path>
                    <path d="M610.749593,-0.000603131566 L636.350593,49.9993969 L530.922593,49.9993969 L511.250593,-0.000603131566 L610.749593,-0.000603131566 Z" id="9" data-parcel-name="9" class="parcel__item parcel__item--full"></path>
                    <path d="M698.396353,-7.56017471e-12 C701.887912,-1.00503797e-06 705.126647,1.82111567 706.940711,4.8044285 C716.980237,21.3148945 722,30.784618 722,33.2135989 C722,35.8050328 710.851615,41.1960654 688.554846,49.3866968 C687.450485,49.7923832 686.283197,50 685.106678,50 L636.350593,49.9993969 L610.750593,-0.000603131566 L698.396353,-7.56017471e-12 Z" id="10" data-parcel-name="10" class="parcel__item parcel__item--full"></path>
                </g>
                <g id="cast-right-down" transform="translate(220.000000, 59.000000)">
                    <path d="M18.198039,0 L623.626123,0 C626.997623,3.37244168e-05 629.730765,2.73317503 629.730765,6.1046757 C629.730765,6.1046757 629.730765,6.1046757 629.730765,6.1046757 C629.730765,7.82956014 628.487176,9.12663504 626,9.99590037 L532.138841,34.7585932 L513.741128,35.2855366 L512.587669,43.2034049 L12.3632312,49.8360712 C6.84086908,49.9092943 2.30475104,45.4918944 2.23152794,39.9695323 C2.22220966,39.2667637 2.28700585,38.5649707 2.42484224,37.8757888 L8.39223227,8.03883865 C9.32708066,3.36459668 13.4312288,8.75648828e-16 18.198039,0 Z" id="Pozemek"></path>
                    <path d="M109.692649,-0.000361164859 L102.815649,48.6366388 L12.3632312,49.8360712 C6.84086908,49.9092943 2.30475104,45.4918944 2.23152794,39.9695323 C2.22220966,39.2667637 2.28700585,38.5649707 2.42484224,37.8757888 L8.39223227,8.03883865 C9.32708066,3.36459668 13.4312288,8.75655885e-16 18.198039,0 L109.692649,-0.000361164859 Z" id="13" data-parcel-name="13" class="parcel__item" stroke="transparent"></path>
                    <path d="M177.584761,-0.000361164859 L172.219761,47.7156388 L102.816761,48.6366388 L109.693761,-0.000361164859 L177.584761,-0.000361164859 Z" id="14" data-parcel-name="14" class="parcel__item parcel__item--full"></path>
                    <path d="M252.279761,-0.000361164859 L251.021761,46.6706388 L172.220761,47.7156388 L177.584761,-0.000361164859 L252.279761,-0.000361164859 Z" id="15" data-parcel-name="15" class="parcel__item parcel__item--full"></path>
                    <path d="M331.758761,-0.000361164859 L334.412761,45.5656388 L251.021761,46.6706388 L252.279761,-0.000361164859 L331.758761,-0.000361164859 Z" id="16" data-parcel-name="16" class="parcel__item parcel__item--full"></path>
                    <path d="M402.983761,-0.000361164859 L410.671761,44.5536388 L334.412761,45.5656388 L331.759761,-0.000361164859 L402.983761,-0.000361164859 Z" id="17" data-parcel-name="17" class="parcel__item parcel__item--full"></path>
                    <path d="M484.792922,-0.000361164859 L497.561922,43.4016388 L410.672922,44.5536388 L402.984922,-0.000361164859 L484.792922,-0.000361164859 Z" id="18" data-parcel-name="18" class="parcel__item parcel__item--full"></path>
                    <path d="M623.626123,8.90543195e-12 C626.922701,3.29749943e-05 629.608976,2.61305177 629.726738,5.8808777 L629.730765,6.1046757 L629.730765,6.1046757 C629.730765,7.82956014 628.487176,9.12663504 626,9.99590038 L532.138841,34.7585932 L513.741128,35.2855366 L512.587669,43.2034049 L497.562582,43.402 L484.793582,8.4506846e-12 L623.626123,8.90543195e-12 Z" id="19" data-parcel-name="19" class="parcel__item parcel__item--full"></path>
                </g>
            </g>
        </g>
    </g>
</svg>