{% if parcel.state is same as('Rezervace') %}
    {% set class = 'is-reservation' %}
{% elseif parcel.state is same as('Prodáno') %}
    {% set class = 'is-sold' %}
{% else %}
    {% set class = 'is-free' %}
{% endif %}

<div class="popup">
    <div class="form form--popup">
        {% set f = contactForm %}
        {{ form_start(f) }}
        {{ form_errors(f) }}
            <h2 class="popup__title">{{ 'Kontaktujte nás'|trans }}</h2>
            <div class="form__item form__item--list mb-4">
                <div class="row">
                    <div class="col-8"><strong>{{ 'Stav'|trans }}:</strong></div><div class="col-4"><span class="table__bullet {{ class }}">{{ parcel.state|trans }}</span></div>
                    <div class="col-8"><strong>{{ 'Pozemek'|trans }}:</strong></div><div class="col-4">{{ parcel.name }}</div>
                    <div class="col-8"><strong>{{ 'Velikost pozemku'|trans }}:</strong></div><div class="col-4">{{ parcel.totalArea }}</div>
                    <div class="col-8"><strong>{{ 'Zastavitelná plocha (max m2)'|trans }}:</strong></div><div class="col-4">{{ parcel.usableArea }}</div>
                </div>
            </div>
            <div class="form__item--form js-form">
                <div class="row">
                    <div class="col-12">
                        <div class="form__item">
                            <input type="text" id="popup-name" name="nexcrm_webbundle_contact[name]">
                            <label for="popup-name">{{ 'Jméno a příjmení'|trans }}</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form__item">
                            <input type="email" id="popup-mail" name="nexcrm_webbundle_contact[email]" required>
                            <label for="popup-mail">{{ 'E-mail'|trans }}</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form__item">
                            <input type="text" id="popup-phone" name="nexcrm_webbundle_contact[phone]">
                            <label for="popup-phone">{{ 'Telefon'|trans }}</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form__item">
                            <textarea id="popup-text" name="nexcrm_webbundle_contact[text]"></textarea>
                            <label for="popup-text">{{ 'Zpráva'|trans }}</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form__checkbox">
                            {{ form_widget(f.agree, {'id': 'checkbox-popup'}) }}
                            <label for="checkbox-popup">{{ 'Zaškrtnutím souhlasíte se'|trans }} <a href="#">{{ 'zpracováním osobních údajů'|trans }}</a>.</label>
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        {{ form_widget(f.save, {'label': 'Odeslat'|trans, 'attr': {'class': 'button button--gold button--popup'} }) }}
                    </div>
                    {{ form_widget(f.antispam, {'id': 'antispam2'}) }}
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $("#antispam2").val("antispam");
                        });
                    </script>
                    {{ form_widget(f.subject, {'type': 'hidden', 'value': 'Kontaktní formulář'|trans }) }}
                </div>
            </div>
        {% do f.name.setRendered %}
        {% do f.email.setRendered %}
        {% do f.phone.setRendered %}
        {% do f.text.setRendered %}
        {{ form_end(f) }}
    </div>
</div>

<script>
    $(function () {

        $('.js-form input, .js-form textarea').on('change', function () {
            $(this).val() !== '' ? $(this).addClass('has-content') : $(this).removeClass('has-content');
        });

    });
</script>