
<footer class="footer" data-scroll="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="footer__row">
                    <div class="footer__logo">
                        <img src="{{ asset('assets/theme/img/logo/new-logo.svg') }}" alt="footer-logo">
                    </div>
                    <div class="footer__text">{{ 'Projekt skupiny Dorn-Fussenegger'|trans }}</div>
                </div>
            </div>

            <div class="col-lg-6 col-12">
                <div class="footer__list">
                    <ul>
                        <li><a href="tel:{{ (settings['phone']).translate.transValue }}" class="footer__phone">{{ (settings['phone']).translate.transValue }}</a></li>
                        <li><a href="mailto:{{ (settings['email']).translate.transValue }}" class="footer__mail">{{ (settings['email']).translate.transValue }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="section section section--copyright">
    <div class="container container--copyright">
        <div class="copyright">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-12 text-lg-left text-md-left text-sm-left text-center">
                    <div class="copyright__text">© {{ (settings['copyright']).translate.transValue }}</div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-12 text-lg-right text-md-right text-sm-right text-center">
                    <div class="copyright__text">
                        Webdesign by <a href="https:\\www.nexgen.cz" target="_blank" title="NexGen IT, s.r.o. - Webdesign, SEO, 3D vizualizace, tvorba webových stránek, České Budějovice">NexGen IT</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% if app.request.cookies.get('eu-cookies') is empty %}
    <div class="eu-cookies">
        <a href="" target="_blank">{{ 'Zpracováváme soubory cookies'|trans }}</a>.
        {{ 'Pomáhají nám ke správnému fungování webové aplikace, k poskytování funkcí sociálních sítí, personalizaci obsahu a inzerce a k analýzám jeho návštěvnosti. Používáním webu'|trans }}
        <a href="" target="_blank">{{ 'souhlasíte s jejich užitím.'|trans }}</a>
        <button>{{ 'Souhlasím'|trans }}</button>
    </div>
    <noscript>
        <style>
            .eu-cookies {display: none;}
        </style>
    </noscript>
{% endif %}

{% if settings['marketing_footer'] is defined %}{{ settings['marketing_footer']|raw }}{% endif %}

{% include 'front/component/alert.html.twig' %}

</body>
</html>