<!doctype html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{ (settings['description']).translate.transValue }}">
    <meta name="keywords" content="{{ (settings['keywords']).translate.transValue }}">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap">
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;800&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;800&display=swap" media="print" onload="this.media='all'">
    <noscript>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;800&display=swap">
    </noscript>


    <link rel="stylesheet" href="{{ asset('assets/theme/dist/all.min.css') }}">
    <link rel="shortcut icon" href="{{ asset('favicon.png') }}">
    <title>{{ (settings['title']).translate.transValue }}</title>

    <script src="{{ asset('assets/theme/dist/all.min.js') }}"></script>


    {% if app.request.getSchemeAndHttpHost() in ["http://localhost:8000", "http://lipno-life.localhost"] %}
        <script src="http://localhost:35729/livereload.js"></script>
    {% endif %}

    {% if settings['marketing_header'] is defined %}{{ settings['marketing_header']|raw }}{% endif %}
</head>
<body>

<header class="header" id="js-navbar">
    <div class="container">
        <div class="header__inner">

            {% set langs = app.request.get('nexsys.langs')|default([]) %}
            {% if langs|length > 0 %}
                <div class="header__lang">
                    <ul>
                        {% for lang in langs %}
                            {% set lang_active = app.request.locale == lang.iso2 %}
                            {% if lang_active %}
                                <li class="order-1 is-active">{{ lang.iso2|upper }}</li>
                            {% else %}
                                <li><a href="{% if langItem is defined %}{{ langItem|trans_path(lang.iso2) }}{% endif %}">{{ lang.iso2|upper }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div data-scroll-src="top" class="header__logo is-mobile">
                <img src="{{ asset('assets/theme/img/logo/new-logo.svg') }}" alt="logo">
            </div>
            <nav class="nav">
                <div class="nav__left">
                    <ul>
                        <li data-scroll-src="o-projektu"><a href="#">{{ 'O projektu'|trans }}</a></li>
                        <li data-scroll-src="parcel"><a href="#">{{ 'Stavební parcely'|trans }}</a></li>
                        <li data-scroll-src="galerie"><a href="#">{{ 'Galerie'|trans }}</a></li>
                    </ul>
                </div>
                <div data-scroll-src="top" class="header__logo header__logo--big is-desktop">
                    <img src="{{ asset('assets/theme/img/logo/new-logo-white.svg') }}" alt="logo">
                </div>
                <div data-scroll-src="top" class="header__logo header__logo--small is-desktop">
                    <img src="{{ asset('assets/theme/img/logo/new-logo.svg') }}" alt="logo">
                </div>
                <div class="nav__right">
                    <ul>
                        <li data-scroll-src="poloha"><a href="#">{{ 'Poloha'|trans }}</a></li>
                        <li data-scroll-src="about"><a href="#">{{ 'O nás'|trans }}</a></li>
                        <li data-scroll-src="contact"><a href="#">{{ 'Kontakt'|trans }}</a></li>
                    </ul>
                </div>
            </nav>
            <div class="burger">
                <span class="burger__nav js-burger">
                    <span></span>
                </span>
            </div>
        </div>
    </div>
</header>