{% include "front/header.html.twig" %}

<section class="section section--slider" data-scroll="top">
    <div class="slider slider--homepage">
        <div class="slider__inner js-slider-homepage">
            {% for slider in sliders %}
                <div class="slider__item">
                    {% if slider.pageFile %}
                        <video class="slider-video" autoplay loop muted>
                            <source src="{{ asset('uploads/media/'~slider.pageFile.directoryName~'/'~slider.pageFile.media) }}" type="{{ 'video/'~slider.pageFile.ext }}">
                        </video>
                    {% else %}
                        <div class="slider__img" style="background-image: url('{{ ('uploads/media/'~slider.file.directoryName~'/'~slider.file.media)|imagine_filter('slider') }}')"></div>
                    {% endif %}
                    <div class="container">
                        <p class="slider__title">{{ slider.translate.title }}</p>
                        <p class="slider__text">{{ slider.translate.subtitle }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% if page.contents|length > 0 %}
    {% for content in page.contents %}
        {% include 'front/block/' ~ content.template.path ~ '.html.twig' %}
    {% endfor %}
{% endif %}

{% include "front/footer.html.twig" %}