<div class="row text-center">
    <div class="col-md-6 mb-2">
        <a href="{{ path('nexcrm_admin_download_newsletter') }}" class="btn btn-outline-primary d-block">{{ 'Databáze emailů'|trans }} ({{ newsletterCount }})</a>
    </div>
</div>
