.container
    max-width: rem(1490)
    @media only screen and (min-width: 768px) and (max-width: 1366px)
        padding: 0 rem(50)

    &-fluid
        @media only screen and (min-width: 768px) and (max-width: 1366px)
            padding: 0 rem(50)

    &--small
        max-width: rem(845)

    &--slider
        position: relative
        @media only screen and (min-width: 1367px)
            padding-left: 0
            padding-right: 0
            left: 80px

    &--article
        max-width: rem(1575)
        margin-left: 0
        margin-right: auto
        @media only screen and (max-width: 1440px)
            max-width: rem(1200)
        @media only screen and (max-width: 1366px)
            max-width: 100%