.footer
    padding-top: rem(49)
    padding-bottom: rem(30)
    @media only screen and (max-width: 575px)
        padding-top: rem(33)

    &__logo
        width: 76px
        @media only screen and (max-width: 991px)
            text-align: center
            width: percentage(1/1)
            flex: 0 0 percentage(1/1)
            img
                max-width: rem(100)
                width: 100%
                height: auto
        @media only screen and (max-width: 575px)
            margin-bottom: rem(25)

    &__text
        font-size: rem(18)
        line-height: rem(21)
        color: $black-200
        padding-top: rem(18)
        padding-left: rem(42)
        @media only screen and (max-width: 991px)
            text-align: center
            width: percentage(1/1)
            flex: 0 0 percentage(1/1)
            padding-left: 0
        @media only screen and (max-width: 350px)
            font-size: rem(16)
            line-height: rem(19)

    &__list
        text-align: right
        margin-top: rem(20)
        @media only screen and (max-width: 991px)
            text-align: center
        ul
            padding: 0
            margin: 0
            list-style-type: none

            li
                @media only screen and (min-width: 576px)
                    display: inline-block
                    padding: 0 rem(12)
                    position: relative
                    &:before
                        content: "|"
                        position: absolute
                        top: 0
                        right: rem(-2)
                    &:first-child
                        padding-left: 0
                    &:last-child
                        padding-right: 0
                        &:before
                            content: ""

    &__adress
        @media only screen and (max-width: 575px)
            margin-bottom: rem(30)
        p
            color: $black-200
            font-size: rem(18)
            line-height: rem(21)
            text-align: left
            @media only screen and (min-width: 992px) and (max-width: 1024px)
                font-size: rem(16)
                line-height: rem(19)
            @media only screen and (max-width: 768px)
                margin-bottom: 0
            @media only screen and (max-width: 575px)
                text-align: center
                font-size: rem(16)

    &__social
        display: flex
        @media only screen and (max-width: 991px)
            justify-content: flex-end
        @media only screen and (max-width: 575px)
            justify-content: center
        a
            margin: 0 rem(5)
            @media only screen and (max-width: 575px)
                margin: 0 rem(10)
            &:first-child
                margin-left: 0
            &:last-child
                margin-right: 0

    &__phone,
    &__mail
        font-size: rem(18)
        line-height: rem(21)

    &__phone
        color: $black-200
        font-weight: 700
        @media only screen and (max-width: 575px)
            margin-bottom: rem(20)
            display: block

    &__mail
        color: #00004D
        text-decoration: underline
        &:hover
            text-decoration: none

    &__row
        display: flex
        flex-wrap: wrap
        @media only screen and (max-width: 991px)
            justify-content: center
            margin-bottom: 30px
        @media only screen and (max-width: 575px)
            display: block


