.header
    +clearfix
    padding-top: rem(32)
    position: absolute
    z-index: 10
    width: 100%
    transition: $nav-transition
    @media only screen and (min-width: 992px)
        &.is-sticky
            position: fixed
            background-color: $white
            padding-top: 0
            height: rem(100)
            box-shadow: $header-shadow

            .header__inner
                height: rem(100)

            .header__logo
                &--big
                    display: none
                &--small
                    display: block
                    position: relative
                    top: rem(-39)
                    text-align: center

                    img
                        max-width: rem(70)
                        padding-top: rem(9)

            .header__lang
                ul
                    padding-top: rem(10)
                    margin-bottom: rem(10)
                    li
                        &.is-active,
                        a
                            color: $gray-lang

            .nav

                a
                    color: $blue
                    &:after
                        background-color: $blue


    @media only screen and (max-width: 991px)
        background-color: $white
        position: fixed
        height: rem(60)
        padding-top: rem(10)
        box-shadow: $header-shadow

    &__logo
        display: block
        float: left
        //text-indent: -10000px
        transition: $nav-transition
        cursor: pointer
        @media only screen and (max-width: 991px)
            position: absolute
            top: 8px
            z-index: 10

        &--big
            display: block

        &--small
            display: none


        &.is-desktop
            max-width: 150px
            width: 100%
            height: auto
            margin: 0 auto

            img
                width: 100%
                height: auto
            @media only screen and (max-width: 991px)
                display: none

        &.is-mobile
            display: none !important
            @media only screen and (max-width: 991px)
                display: block !important

        img
            max-width: rem(180)
            width: 100%
            height: auto
            transition: $nav-transition
            @media only screen and (max-width: 1280px)
                max-width: rem(124)
            @media only screen and (max-width: 991px)
                max-width: rem(43)

    &__lang
        display: flex
        justify-content: flex-end
        transition: $nav-transition
        @media only screen and (max-width: 1540px)
            padding-right: rem(60)
        @media only screen and (max-width: 1367px)
            padding-right: 0
        @media only screen and (max-width: 991px)
            position: relative
            z-index: 10
            padding-top: rem(8)
            padding-right: rem(80)

            li
                font-size: rem(18)
                padding: 0 rem(10)

        ul
            list-style-type: none
            margin-bottom: rem(44)
            li
                display: inline-block
                padding: 0 rem(5)
                &:last-child
                    padding-right: 0

                &.is-active
                    font-family: $font-family-second
                    font-weight: 700
                    font-size: rem(13)
                    color: $white
                    @media only screen and (max-width: 991px)
                        color: $gray-lang
                        font-size: rem(18)

                a
                    color: $white
                    font-family: $font-family-second
                    font-weight: 300
                    font-size: rem(13)
                    opacity: .5
                    transition: opacity 0.2s
                    @media only screen and (max-width: 991px)
                        color: $gray-lang
                        opacity: 0.7
                        font-size: rem(18)
                    &:hover
                        opacity: 1
