.nav
    display: flex
    justify-content: space-between
    @media only screen and (max-width: 1540px)
        padding: 0 rem(60)
    @media only screen and (max-width: 1367px)
        padding: 0
    @media only screen and (max-width: 991px)
        display: none
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100vh
        background-color: $white
        padding-top: rem(110)
        overflow-y: scroll
        padding-bottom: 70px

        &.is-open
            display: block

    ul
        padding-left: 0
        margin-bottom: 0
        list-style: none

    li
        display: inline-block
        margin-right: rem(60)
        @media only screen and (max-width: 1366px)
            margin-right: rem(50)
        @media only screen and (max-width: 1024px)
            margin-right: rem(35)
        @media only screen and (max-width: 991px)
            display: block
            text-align: center
            margin-right: 0
            margin-bottom: rem(25)
        &:last-child
            margin-right: 0

        &.is-active
            a:not(.header__logo)
                @media only screen and (min-width: 992px)
                    &:after
                        opacity: 1



    a:not(.header__logo)
        display: block
        font-size: rem(14)
        line-height: rem(16)
        letter-spacing: rem(1)
        font-family: $font-family-second
        text-transform: uppercase
        font-weight: 700
        position: relative
        color: $white
        @media only screen and (max-width: 991px)
            color: $blue
            font-size: rem(18)
            line-height: rem(20)

        &:hover
            &:after
                opacity: 1

        &:after
            position: absolute
            content: ""
            bottom: rem(-4)
            left: 0
            width: 100%
            height: rem(2)
            border-radius: rem(6)
            background-color: $white
            opacity: 0
            transition: opacity 0.2s

    &__left,
    &__right
        @media only screen and (min-width: 1420px)
            max-width: rem(456)
            width: 100%

    &__right
        @media only screen and (min-width: 1420px)
            text-align: right
