<section class="section section--about">
    <div class="about">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-12 order-lg-1 order-2 section__nopadding">
                    <div class="section__background section__background--left" style="background-image: url('{{ ('uploads/media///'~(((((attribute(content.translate, 'field4'))|split('?'))[0])|split('///'))[1]))|imagine_filter('bg') }}')"></div>
                </div>
                <div class="col-lg-6 col-12 order-lg-2 order-1">
                    <div class="about__content" data-aos="fade-left">
                        <h2 class="section__header section__header--blue" data-scroll="about">{{ content.translate.field0 }}</h2>
                        <div class="about__text">
                            {{ content.translate.field1|raw }}
                        </div>
                        <div class="about__form">
                            <div class="section__list">{{ content.translate.field3|raw }}</div>
                            <a href="https://www.lipno.cc/" target="_blank" class="button button--big button--bigger button--gold">{{ 'Více o gruppen dorn-fussenegger'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
