<section class="section section--article" style="background-image: url('{{ ('uploads/media///'~(((((attribute(content.translate, 'field1'))|split('?'))[0])|split('///'))[1]))|imagine_filter('activity_big') }}')">
    <div class="article">
        <div class="container">
            <div class="article__header">
                <h2 class="section__header section__header--center text-white" data-aos="fade-up">{{ content.translate.field0 }}</h2>
            </div>
            <div class="article__text">
                <p>{{ content.translate.field5|raw }}</p>
            </div>
        </div>
        <div class="container-fluid container--slider container--article">
            <div class="slider slider--article js-slider-article">
                {% for activity in winter_activities %}
                        <div class="slider__item">
                            <a href="{{ activity.translate.link }}" target="_blank" class="article__item" data-aos="flip-up">
                                <div class="article__image">
                                    <span style="background-image: url('{{ ('uploads/media/'~activity.file.directoryName~'/'~activity.file.media)|imagine_filter('activity_small') }}')"></span>
                                </div>
                                <div class="article__content">
                                    <div class="article__name">{{ activity.translate.name }}</div>
                                </div>
                            </a>
                        </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<section class="section section--article" style="background-image: url('{{ ('uploads/media///'~(((((attribute(content.translate, 'field3'))|split('?'))[0])|split('///'))[1]))|imagine_filter('activity_big') }}')">
    <div class="article">
        <div class="container">
            <div class="article__header">
                <h2 class="section__header section__header--center text-white" data-aos="fade-up">{{ content.translate.field2 }}</h2>
            </div>
            <div class="article__text">
                <p>{{ content.translate.field5|raw }}</p>
            </div>
        </div>
        <div class="container-fluid container--slider container--article">
            <div class="slider slider--article js-slider-article">
                {% for activity in summer_activities %}
                        <div class="slider__item">
                            <a href="{{ activity.translate.link }}" target="_blank" class="article__item" data-aos="flip-up">
                                <div class="article__image">
                                    <span style="background-image: url('{{ ('uploads/media/'~activity.file.directoryName~'/'~activity.file.media)|imagine_filter('activity_small') }}')"></span>
                                </div>
                                <div class="article__content">
                                    <div class="article__name">{{ activity.translate.name }}</div>
                                </div>
                            </a>
                        </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>