<section class="section">
    <div class="contact" style="background-image: url('{{ asset('assets/theme/img/bg.jpg') }}')">
        <div class="container">
            <h2 class="contact__title text-center" data-aos="fade-up" data-scroll="contact">{{ content.translate.field0 }}</h2>
            <div class="row">
                <div class="col-lg-7 col-md-6 col-12" data-aos="fade-right">
                    <div class="contact__adress">{{ content.translate.field1|raw }}</div>
                    <div class="contact__info">
                        <ul>
                            <li><a class="contact__phone" href="tel:{{ (settings['phone']).translate.transValue }}">{{ (settings['phone']).translate.transValue }}</a></li>
                            <li><a class="contact__mail" href="mailto:{{ (settings['email']).translate.transValue }}">{{ (settings['email']).translate.transValue }}</a></li>
                        </ul>
                    </div>
                    <div class="contact__social">
                        <ul>
                            <li><a href="{{ (settings['facebook']).translate.transValue }}" target="_blank" class="icon icon--contact icon--facebook"></a></li>
                            <li><a href="{{ (settings['instagram']).translate.transValue }}" target="_blank" class="icon icon--contact icon--instagram"></a></li>
                            <li><a href="{{ (settings['youtube']).translate.transValue }}" target="_blank" class="icon icon--contact icon--youtube"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 col-12" data-aos="fade-left">
                    <div class="contact__form">
                        <div class="form form--contact js-form">
                            <h3 class="form__title">{{ 'Kontaktní formulář'|trans }}</h3>
                            {% set f = contactForm %}
                            {{ form_start(f) }}
                            {{ form_errors(f) }}
                            <div class="form__item">
                                {{ form_widget(f.name) }}
                                {{ form_label(f.name) }}
                            </div>
                            <div class="form__item">
                                {{ form_widget(f.email) }}
                                {{ form_label(f.email) }}
                            </div>
                            <div class="form__item">
                                {{ form_widget(f.phone) }}
                                {{ form_label(f.phone) }}
                            </div>
                            <div class="form__item">
                                {{ form_widget(f.text) }}
                                {{ form_label(f.text) }}
                            </div>
                            <div class="form__checkbox">
                                {{ form_widget(f.agree) }}
                                <label for="{{ f.agree.vars.id }}">{{ 'Zaškrtnutím souhlasíte se'|trans }} <a href="#">{{ 'zpracováním osobních údajů'|trans }}</a>.</label>
                            </div>
                            <div class="form__button">
                                {{ form_widget(f.save, {'label': 'Odeslat'|trans, 'attr': {'class': 'button button--gold button--contact'} }) }}
                            </div>
                            {{ form_widget(f.antispam) }}
                            <script type="text/javascript">
                                $(document).ready(function () {
                                    $("#{{ f.antispam.vars.id }}").val("antispam");
                                });
                            </script>
                            {{ form_widget(f.subject, {'type': 'hidden', 'value': 'Kontaktní formulář'|trans }) }}
                            {{ form_end(f) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>