<section class="section section--gallery section--dark">
    <div class="section__top section--dark">
        <div class="container-fluid container--slider top-185">
            <h2 class="section__header section__header--small text-white" data-aos="fade-right">{{ content.translate.field0 }}</h2>
            <div class="slider slider--gallery js-slider-gallery" data-scroll="galerie">
                {% set counter = 1 %}
                {% for image in page.files %}
                    {% if (counter+2) is divisible by(3) %}
                        <div class="slider__item">
                            <div class="gallery gallery--big--small">
                                <a href="{{ ('uploads/media/'~image.directoryName~'/'~image.media)|imagine_filter('big') }}" class="gallery__item" style="background-image: url('{{ ('uploads/media/'~image.directoryName~'/'~image.media)|imagine_filter('gallery') }}')" data-fancybox="gallery-big" data-aos="flip-left">
                                    <img src="{{ ('uploads/media/'~image.directoryName~'/'~image.media)|imagine_filter('gallery') }}" alt="">
                                </a>
                    {% elseif (counter+1) is divisible by(3) %}
                                <a href="{{ ('uploads/media/'~image.directoryName~'/'~image.media)|imagine_filter('big') }}" class="gallery__item" style="background-image: url('{{ ('uploads/media/'~image.directoryName~'/'~image.media)|imagine_filter('gallery') }}')" data-fancybox="gallery-big" data-aos="flip-left">
                                    <img src="{{ ('uploads/media/'~image.directoryName~'/'~image.media)|imagine_filter('gallery') }}" alt="">
                                </a>
                            </div>
                        </div>
                    {% else %}
                        <div class="slider__item">
                            <div class="gallery gallery--big">
                                <a href="{{ ('uploads/media/'~image.directoryName~'/'~image.media)|imagine_filter('big') }}" class="gallery__item" style="background-image: url('{{ ('uploads/media/'~image.directoryName~'/'~image.media)|imagine_filter('gallery') }}')" data-fancybox="gallery-big" data-aos="flip-left">
                                    <img src="{{ ('uploads/media/'~image.directoryName~'/'~image.media)|imagine_filter('gallery') }}" alt="">
                                </a>
                            </div>
                        </div>
                    {% endif %}
                    {% set counter = counter+1 %}
                {% endfor %}
                {% if (counter+1) is divisible by(3) %}
                    </div></div>
                {% endif %}

            </div>
        </div>
    </div>
</section>