{% set random_hash = random() %}

<div class="section section--info" style="background-image: url('{{ asset('assets/theme/img/bg.jpg') }}')">
    <div class="info" data-aos="fade-up">
        <div class="container">
            <h3 class="info__title">{{ content.translate.field0 }}</h3>
            <p class="info__text">{{ content.translate.field1 }}</p>
            <div class="info__mail">
                <form action="{{ path('newsletter', {'redirect': app.request.get('_route')}) }}" method="get">
                    <input type="email" name="email" placeholder="{{ 'Zadejte váš e-mail'|trans }}" required>
                    <button type="submit" class="button button--gold button--info">{{ 'Odeslat'|trans }}</button>
                    <input type="hidden" id="antispam_{{ random_hash }}" name="antispam" value="Spam shall not pass" required>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $("#antispam_{{ random_hash }}").val("antispam");
                        });
                    </script>
                </form>
            </div>
            <p class="info__gdpr">{{ 'Souhlasím se zasíláním obchodních sdělení a'|trans }} <a href="#">{{ 'zpracováním osobních údajů'|trans }}</a>.</p>
        </div>
    </div>
</div>