<section class="section section--map">
    <div class="map" data-scroll="poloha">
        <div class="map__header" data-aos="fade-up">
            <h2 class="section__header section__header--center">{{ content.translate.field0 }}</h2>
        </div>
        <div class="map__info" data-aos="zoom-in-up">
            <h3 class="map__subtitle">{{ content.translate.field1 }}</h3>
            <div class="table table--map">{{ content.translate.field2|raw }}</div>
        </div>
        <div id="map" data-aos="fade-up-right"></div>
    </div>
</section>



<script
    src="https://maps.googleapis.com/maps/api/js?key={{ settings['map_key'] }}"
    type="text/javascript"></script>
<script>
    var map;
    var marker;
    var glocations = [];
    // var bounds = new google.maps.LatLngBounds();
    var locations = [
        {
            "name": "Lipno Real s.r.o.",
            "adress": "Přístav 71",
            "zip": "382 78 Lipno nad Vltavou",
            "lat": "48.749511",
            "lng": "14.057978"
        }

    ];

    function initMap() {
        $lat = 48.749511;
        $lng = 14.057978;
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: $lat, lng: $lng},
            zoom: 16,
            styles: [
                {
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#f5f5f5"
                        }
                    ]
                },
                {
                    "elementType": "labels.icon",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#616161"
                        }
                    ]
                },
                {
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "color": "#f5f5f5"
                        }
                    ]
                },
                {
                    "featureType": "administrative.land_parcel",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#bdbdbd"
                        }
                    ]
                },
                {
                    "featureType": "landscape",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#f4f5fc"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#eeeeee"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#757575"
                        }
                    ]
                },
                {
                    "featureType": "poi.park",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#e5e5e5"
                        }
                    ]
                },
                {
                    "featureType": "poi.park",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#9e9e9e"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#ffffff"
                        }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#757575"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#dadada"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#616161"
                        }
                    ]
                },
                {
                    "featureType": "road.local",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#9e9e9e"
                        }
                    ]
                },
                {
                    "featureType": "transit.line",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#e5e5e5"
                        }
                    ]
                },
                {
                    "featureType": "transit.station",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#eeeeee"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#c9c9c9"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#aeddff"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#9e9e9e"
                        }
                    ]
                }
            ]
        });
        $maxWidth = document.documentElement.clientWidth;
        if ($maxWidth > 768) {
            $mapPan1 = 300;
            $mapPan2 = 100;
        }
        else {
            $mapPan1 = 0;
            $mapPan2 = 100;
        }
        map.panBy($mapPan1, $mapPan2);
        for (let i = 0; i < locations.length; i++) {
            createMarker(locations, i);
        }


        function createMarker(locations, i) {
            var item = locations[i];
            var marker_icon = {
                url: "{{ asset('assets/theme/img/icon/map-pin.svg') }}",
                scaledSize: new google.maps.Size(200, 71),
            };
            var marker = new google.maps.Marker({
                icon: marker_icon,
                scaledSize: new google.maps.Size(200, 71),
                map: map,
                position: new google.maps.LatLng(item.lat, item.lng),
                animation: google.maps.Animation.DROP
            });

            glocations.push(marker);
            infoWindow(marker, map, item);
            // bounds.extend(marker.getPosition());
            // map.fitBounds(bounds);
        }

    };

    google.maps.event.addDomListener(window, "load", initMap);


    function infoWindow(marker, map, item) {
        google.maps.event.addListener(marker, 'click', function () {
            var contentString = '<div id="map__content">' +
                '<div class="text text--map">' +
                '<p><strong>' + item.name + '</strong></p>' +
                '<p>' + item.adress + '<br>' + item.zip + '</p>' +
                '</div>' +
                '</div>';

            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });

            infowindow.open(map, marker);
        });
    }


</script>