<section class="section section--parcel">
    <div class="parcel" data-scroll="parcel">
        <div class="container">
            <h2 class="section__header section__header--center section__header--blue">{{ content.translate.field0 }}</h2>
            <div class="parcel__img" style="background-image: url('{{ asset('assets/theme/img/parcel.jpg') }}')">
                <div class="parcel__compas">
                    <img src="{{ asset('assets/theme/img/kompas.svg') }}" alt="">
                </div>
                <div class="parcel__content">
                    <div class="parcel__cnt"></div>
                </div>
                {{ source('front/component/parcel.svg.twig') }}
            </div>
            <div class="parcel__filter">
                <div class="filter" data-aos="fade-right">
                    <div class="filter__content">
                        <div class="filter__left">
                            <div class="filter__item">
                                <input type="checkbox" id="checkbox-free" data-table-available-src="available">
                                <label for="checkbox-free">{{ 'Pouze volné parcely'|trans }}</label>
                            </div>
                        </div>
                        <div class="filter__right">
                            <div class="filter__item">
                                <div class="filter__legend">
                                    <ul>
                                        <li class="filter__free">{{ 'Volné'|trans }}</li>
                                        <li class="filter__reservation">{{ 'Rezervace'|trans }}</li>
                                        <li class="filter__sold">{{ 'Prodáno'|trans }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="parcel__table" data-aos="fade-up">
                <div class="table table--parcel fade">
                    <table>
                        <thead>
                        <tr>
                            <td>{{ 'Pozemek'|trans }}</td>
                            <td>{{ 'Velikost pozemku'|trans }}</td>
                            <td>{{ 'Zastavitelná plocha (max m2)'|trans }}</td>
                            <td>{{ 'Stav'|trans }}</td>
                            <td></td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for parcel in parcels %}
                            {% if parcel.state is same as('Rezervace') %}
                                {% set class = 'is-reservation' %}
                                {% set available = 'reservation' %}
                            {% elseif parcel.state is same as('Prodáno') %}
                                {% set class = 'is-sold' %}
                                {% set available = 'unavailable' %}
                            {% else %}
                                {% set class = 'is-free' %}
                                {% set available = 'available' %}
                            {% endif %}

                            <tr data-parcel-name-src="{{ parcel.name }}" data-table
                                data-table-available="{{ available }}" class="is-active">
                                <td><div class="parcel__dnone">{{ 'Pozemek č.'|trans }}</div> {{ parcel.name }}</td>
                                <td data-parcel-size="{{ parcel.totalArea }}">{{ parcel.totalArea }} <div class="parcel__dnone">{{ 'm2'|trans }}</div></td>
                                <td>{{ parcel.usableArea }}</td>
                                <td>
                                    <div class="table__bullet {{ class }}">{{ parcel.state|trans }}</div>
                                </td>
                                <td><a href="" class="button button--small button--table button--parcel" data-fancybox
                                       data-src="{{ path('ajax_contact', {'id': parcel.id, 'redirect': app.request.get('_route')}) }}" data-type="ajax">{{ 'Mám zájem'|trans }}</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="parcel__button">
                <a id="display--button" class="button button--big button--gold display--button" data-item-max="{{ settings['pagination'] }}">{{ 'Zobrazit všechny'|trans }}</a>
            </div>
            <div class="parcel__footer">{{ content.translate.field1 }}</div>
        </div>
    </div>
</section>

<script type="application/javascript">
    $('.display--button').on('click', function () {
        if ($('[data-table-available-src]').is(':checked')) {
            var tableItems = $('[data-parcel-name-src]');
            tableItems.each(function () {
                var item = $(this);
                if (item.data('table-available')==='available') {
                    item.removeClass('is-hidden');
                }
            });
        }
        else {
            var tableItems = $('[data-parcel-name-src]');
            tableItems.each(function () {
                var item = $(this);
                item.removeClass('is-hidden');
            });
        }
        $(this).addClass('clicked');
        $(this).css('display', 'none');
        $('.fade').removeClass('fade');
    });
</script>