<section class="section section--reservation">
    <div class="reservation" style="background-image: url('{{ asset('assets/theme/img/bg.jpg') }}')">
        <div class="container container--small" data-aos="fade-up">
            <h3 class="reservation__title">{{ content.translate.field0 }}</h3>
            <p class="reservation__text">{{ content.translate.field1|replace({'<p>':'', '</p>':'' })|raw }}</p>
            <div class="reservation__button">
                <a href="#" data-scroll-src="contact" class="button button--big button--gold button--reservation">{{ 'Kontaktujte nás'|trans }}</a>
                <a href="#" data-scroll-src="parcel" class="button button--big button--reservation">{{ 'Stavební parcely'|trans }}</a>
            </div>
        </div>
    </div>
</section>