<section class="section section--header section--dark" data-scroll="o-projektu">
    <div class="container-fluid">
        <div class="infobar">
            <div class="infobar__content">
                <span data-scroll-src="o-projektu">{{ 'Zjistěte více'|trans }}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-12">
                <h1 class="section__title section__title--left" data-aos="fade-right">{{ content.translate.field0 }}</h1>
            </div>
            <div class="col-lg-7 col-12">
                <div class="section__content pl-15" data-aos="fade-left">
                    <div class="text text--base text--white mb-38">{{ content.translate.field1|raw }}</div>
                </div>
            </div>
        </div>
    </div>
</section>