<section class="section section--dark" style="overflow: hidden;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 col-12">
                <div class="section__cnt" data-aos="fade-right">
                    <h2 class="section__header text-white">{{ content.translate.field0 }}</h2>
                    <div class="section__text text text--white">
                        {{ content.translate.field1|raw }}
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-12 section__nopadding">
                <div class="section__background" style="background-image: url('{{ ('uploads/media///'~(((((attribute(content.translate, 'field3'))|split('?'))[0])|split('///'))[1]))|imagine_filter('bg') }}')" data-aos="fade-up-left">
                    <div class="gallery gallery--small gallery--right">
                        <div class="row">
                            <div class="col-4">
                                <div class="gallery__item" style="background-image: url('{{ ('uploads/media///'~(((((attribute(content.translate, 'field4'))|split('?'))[0])|split('///'))[1]))|imagine_filter('dark') }}')" data-aos="flip-left"></div>
                            </div>
                            <div class="col-4">
                                <div class="gallery__item" style="background-image: url('{{ ('uploads/media///'~(((((attribute(content.translate, 'field5'))|split('?'))[0])|split('///'))[1]))|imagine_filter('dark') }}')" data-aos="flip-left"></div>
                            </div>
                            <div class="col-4">
                                <div class="gallery__item" style="background-image: url('{{ ('uploads/media///'~(((((attribute(content.translate, 'field6'))|split('?'))[0])|split('///'))[1]))|imagine_filter('dark') }}')" data-aos="flip-left"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>