<section class="section section--dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 col-12 pt-210">
                <h2 class="section__title section--left mb-85" data-aos="fade-right">{{ content.translate.field0 }}</h2>
                <div class="gallery gallery--small gallery--left">
                    <div class="row">
                        <div class="col-4">
                            <div class="gallery__item" style="background-image: url('{{ ('uploads/media///'~(((((attribute(content.translate, 'field2'))|split('?'))[0])|split('///'))[1]))|imagine_filter('dark') }}')" data-aos="flip-left"></div>
                        </div>
                        <div class="col-4">
                            <div class="gallery__item" style="background-image: url('{{ ('uploads/media///'~(((((attribute(content.translate, 'field3'))|split('?'))[0])|split('///'))[1]))|imagine_filter('dark') }}')" data-aos="flip-left"></div>
                        </div>
                        <div class="col-4">
                            <div class="gallery__item" style="background-image: url('{{ ('uploads/media///'~(((((attribute(content.translate, 'field4'))|split('?'))[0])|split('///'))[1]))|imagine_filter('dark') }}')" data-aos="flip-left"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-12 section__nopadding">
                <div class="section__background" style="background-image: url('{{ ('uploads/media///'~(((((attribute(content.translate, 'field1'))|split('?'))[0])|split('///'))[1]))|imagine_filter('bg') }}')" data-aos="fade-up-left"></div>
            </div>
        </div>
    </div>
</section>