<section class="section section--gray">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 col-12">
                <div class="section__image section__image--left" style="background-image: url('{{ ('uploads/media///'~(((((attribute(content.translate, 'field4'))|split('?'))[0])|split('///'))[1]))|imagine_filter('grey') }}')" data-aos="flip-left"></div>
            </div>
            <div class="col-lg-7 col-12">
                <div class="section__content pl-15 pt-100 pb-lg-0 pb-4 pb-50" data-aos="fade-left">
                    <h2 class="section__header">{{ content.translate.field0 }}</h2>
                    <div class="text text--base text--blue mb-38">{{ content.translate.field1|raw }}</div>
                    <h3 class="section__subtitle">{{ content.translate.field2 }}</h3>
                    <div class="section__list">{{ content.translate.field3|raw }}</div>
                    <a href="#" data-scroll-src="contact" class="button button--big button--gold">{{ 'Kontaktujte nás'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
</section>
