<section class="section section--video section--gray">
    <div class="video">
        <div class="container-fluid">
            <h2 class="section__header section__header--center" data-aos="fade-up">{{ content.translate.field0 }}</h2>
            <div class="row">
                <div class="col-lg-4 col-12">
                    <div class="video__content" data-aos="fade-right">
                        <h3 class="video__title">{{ content.translate.field1 }}</h3>
                        <p class="video__text">{{ content.translate.field2|replace({'<p>':'', '</p>':'' })|raw }}</p>
                        <a href="#" data-scroll-src="contact" class="button button--big button--gold">{{ 'Kontaktujte nás'|trans }}</a>
                    </div>
                </div>
                <div class="col-lg-8 col-12">
                    <div class="video__item" data-video="" style="background-image: url('{{ 'https://img.youtube.com/vi/'~content.translate.field3~'/maxresdefault.jpg' }}')" data-aos="flip-left">
                        <iframe src="" data-src="{{ 'https://www.youtube.com/embed/'~content.translate.field3~'?autoplay=1&modestbranding=1&showinfo=0&color=white' }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        <div class="video__button"></div>
                        <div class="video__description">{{ 'Přehrát video'|trans }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>