<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="theme-color" content="#101517">
    <meta name="viewport" content="user-scalable=0, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="author" content="NexGen IT s.r.o."/>
    <meta name="format-detection" content="telephone=no">

    <meta name="robots" content="noindex,nofollow">

    <link href="{{ asset('/bundles/base/theme/css/app.min.css') }}" type="text/css" rel="stylesheet">

    <title>404 | NexGen Digital studio</title>
</head>
<body class="error__body">

<div class="wrap">
    <header class="error__header">
        <span class="error__header__logo">
            <h1 class="">nexgen.cz</h1>

            <a href="/" target="_blank">

            <?xml version="1.0" encoding="utf-8"?>
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 490.7 95.4" style="enable-background:new 0 0 490.7 95.4;" xml:space="preserve">
            <style type="text/css">
                .logo1 {
                    fill: #414042;
                }

                .logo2 {
                    fill: #3FC6EB;
                }
            </style>

                <g>
                    <path class="logo1" d="M381.3,27.1c-21,0-34.9,14.3-34.9,34.1c0,19.9,14.3,34.2,35.7,34.2c16.2,0,28.7-8.5,31.9-22h-21.7
                        c-1.9,3-5.4,4.7-10,4.7c-8.4,0-12.9-4.6-14.7-10.5h46.5c0.4-2.6,0.4-5.3,0.4-7.8C414.6,40.1,400.1,27.1,381.3,27.1z M367.5,54.8
                        c1.6-6.6,6.2-10.9,13.6-10.9c7,0,11.7,3.8,12.9,10.9H367.5z"/>
                    <path class="logo1" d="M463,26.5c-7,0-12.7,2.3-17.9,6.3v-4.3h-22v65.3h22V52.8c3.8-4.3,7.9-6.5,11.9-6.5c7.3,0,12,4.4,12,13.7v33.8
                        h21.8V56.6C490.7,38,479.4,26.5,463,26.5z"/>
                    <path class="logo1" d="M327.8,42L327.8,42l-37.6,0v17.9l26.3,0.3c-4.6,8.8-12.7,14-23.3,14c-16.2,0-26.5-11.7-26.5-26.1
                        c0-16.2,10.6-27.2,26.4-27.2c8.2,0,17.4,3,21.3,13.6h24C334.4,12.7,315,0,292.5,0c-25.8,0-45.6,17.2-48.5,42.3L280.3,94
                        c3.8,0.8,7.9,1.3,12.1,1.3c3.5,0,7.1-0.4,10.1-1v0c22.3-4.5,38.1-23.4,38.1-46.6c0-1.9-0.1-3.8-0.3-5.7H327.8z"/>
                </g>
                <g>
                <polygon class="logo2"
                         points="61.6,53.9 17.4,2.3 0,2.3 0,93.9 22.8,93.9 22.8,43.6 66.7,93.9 84.2,93.9 84.2,2.3 61.6,2.3 	"/>
                <path class="logo2" d="M140.5,73.4c-1.9,3-5.4,4.7-10,4.7c-8.4,0-12.9-4.6-14.7-10.5h46.5c0.4-2.6,0.4-5.3,0.4-7.8
                    c0-19.7-14.4-32.7-33.3-32.7c-21,0-34.9,14.3-34.9,34.1c0,19.9,14.3,34.2,35.7,34.2c16.2,0,28.7-8.5,31.9-22H140.5z M129.3,43.9
                    c7,0,11.7,3.8,12.9,10.9h-26.5C117.3,48.2,121.9,43.9,129.3,43.9z"/>
                <polygon class="logo2" points="236.2,28.6 211.3,28.6 199.2,45.8 186.9,28.6 162,28.6 184.9,61.3 162,93.9 186.1,93.9 199.2,75.2
                    212.3,93.9 236.2,93.9 213.3,61.4 	"/>
            </g>
            </svg>
                </a>
        </span>
    </header>
    <main class="main">

        <div class="error error--404">

            <div class="container container--error">
                <div class="error__inner">
                    <div class="row">
                        <div class="cell">
                            <h2 class="red">
                                Stránka <br>nebyla <br>nalezena
                            </h2>
                        </div>
                        <div class="cell">
                            <p>
                                Omlouváme se, ale požadovaná stránka nebyla bohužel nalezena.
                                Pravděpodobně nastala jedna z následujících situací:
                            </p>

                            <p>
                                - Byla špatně <strong>napsaná www adresa</strong> (překlep, zastaralá oblíbená položka atp.), <br>
                                - odkaz z <strong>výsledků vyhledávače byl zastaralý</strong>, <br>
                                - interní odkaz v rámci aktuálního webu <strong>byl neplatný</strong>, <br>
                                - <strong>odkaz z jiného webu</strong> byl <strong>zastaralý</strong> nebo <strong>neplatný</strong>.
                            </p>

                            <p>
                                Co dělat dále? <br>
                                Přejděte, prosíme, na <a href="/" target="_blank">hlavní stránku</a>. Pokud váš problém stále přetrvává, prosíme, <a href="https://www.nexgen.cz/" target="_blank">napište správci webu</a>.
                            </p>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </main>
</div>
</body>
</html>