@mixin font-face($family, $weight, $font-path: "../font")
    @font-face
        font-family: $family
        font-weight: $weight
        src: url("#{$font-path}/#{$family}-#{$weight}.eot")
        src: url("#{$font-path}/#{$family}-#{$weight}.eot?#iefix") format("embedded-opentype")
        src: url("#{$font-path}/#{$family}-#{$weight}.woff") format("woff")
        src: url("#{$font-path}/#{$family}-#{$weight}.ttf") format("truetype")
        src: url("#{$font-path}/#{$family}-#{$weight}.svg##{$family}-#{$weight}") format("svg")

@mixin row-col($size)
    .row
        margin-right: -#{$size}px
        margin-left: -#{$size}px

    [class^="col-"]
        padding-right: #{$size}px
        padding-left: #{$size}px

@mixin gen-props($prefix, $property)
    @each $color-name, $color in $colors
        .#{$prefix}-#{$color-name}
            #{$property}: $color !important