<html>
<head>
</head>
<body>
<p>
    {% for item in form.all %}
        {% if item.config.options["label"] is not empty and item.viewData is not empty %}
            {% if item.config.name == 'text' %}
                {{ item.config.options["label"]|trans }}: <br>{{ item.viewData }}<br>
            {% else %}
                {{ item.config.options["label"]|trans }}: <strong>{{ item.viewData }}</strong><br>
            {% endif %}
        {% endif %}
    {% endfor %}
</p>
</body>
</html>
