<h1>{{ 'Prosím potvrďte svou registraci'|trans }}</h1>

<p>
    {{ 'Vážený zákazníku, <br> chybí poslední krok k úspěšné registraci odběru novinek.'|trans|raw }}
    {{ 'Kliknutím na tlačítko "potvrdit registraci" udělujete společnosti lipno-real.com '|trans|raw }}
    {{ '<a href="https://www.lipno-real.com/zasady-ochrany-osobnich-udaju-a-cookies">souhlas se zpracováním Vašich osobních údajů</a> za účelem zasílání obchodních nabídek.'|trans|raw }}
</p>
<br>
<a href='{{ optInUrl }}'
   style="display: inline-block;background-color: #E4D0A6; color: #000000;padding: 20px 30px;text-transform: uppercase;font-size: 20px; line-height: 24px; font-weight: 700; text-decoration: none;">
    {{ 'Potvrdit registraci'|trans }}</a>
<br><br>

<p>
    {{ 'Po potvrzení registrace obdržíte náš newsletter na vámi uvedenou e-mailovou adresu. Přidejte si nás také do adresáře pošty, abyste newsletter vždy obdrželi a nechodil Vám do spamového koše'|trans|raw }}
</p>

<p>
    {{ 'Pokud chcete odběr newsletteru odhlásit, máte možnost tak učinit na konci každého zaslaného newsletteru nebo zasláním Vašeho požadavku na email <a href="mailto:info@lipno-real.com" target="_blank">info@lipno-real.com</a>. '|trans|raw }}
</p>

<p>{{ 'V případě, že nemáte zájem dostávat newsletter, neklikejte prosím na odkaz. Vaše data budou z našeho systému automaticky smazána.'|trans|raw }}</p>
